// PX to EM

@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 16) + px;
	font-size: $sizeValue + rem;
	// Usage: @include font-size(1);
}

// User Select

@mixin user-select($userValue: none) {
	-webkit-user-select: $userValue;
	-khtml-user-select: $userValue;
	-moz-user-select: $userValue;
	-ms-user-select: $userValue;
	user-select: $userValue;
	// Usage: @include user-select(none);
}

