$black: 	#4F4F4F;
$black-h: 	#2A2A2A;

$blue: 		#3498DB;
$blue-h: 	#2980B9;

$gray: 		#95A5A6;
$gray-h: 	#7F8C8D;

$green: 	#2ECC71;
$green-h: 	#27AE60;

$yellow: 	#F1C40F;
$yellow-h: 	#E2B80F;

$orange: 	#F39039;
$orange-h: 	#D35400;

$pink: 		#F657AC;
$pink-h: 	#C6468D;

$purple: 	#9B59B6;
$purple-h: 	#8E44AD;

$red: 		#E74C3C;
$red-h: 	#C0392B;

$white: 	#DBDEE1;
$white-h: 	#BDC3C7;