// Colors

$black: 		#191919;
$blue: 			#3498DB;
$gray: 			#A0AEAF;
$green: 		#2ECC71;
$yellow: 		#F1C40F;
$lime:    		#01FF70;
$maroon:  		#85144B;
$orange: 		#F39039;
$pink: 			#F657AC;
$purple: 		#B10DC9;
$red: 			#E74C3C;
$silver: 		#C1C1C1;
$white: 		#F5F5F5;

// Screen Size

$mobileWidth:   100px;
$tabletWidth:   100px;
$desktopWidth:  100px;