@import url("http://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
@import url("fontello.css");
@import url("custom-scrollbar.css");
/**********************************************/
/* Dependences
/**********************************************/
/**********************************************/
/* Configurable Variables
/**********************************************/
/* line 34, style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 39, style.scss */
body {
  background: #fff;
  font: normal 14px "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 44, style.scss */
li {
  list-style: none;
}

/* line 47, style.scss */
a {
  text-decoration: none;
}

/**********************************************/
/* Headings
/**********************************************/
/* line 55, style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 5px 0;
  padding: 5px 0;
}

/* line 60, style.scss */
h1 {
  font-size: 35px;
}

/* line 61, style.scss */
h2 {
  font-size: 30px;
}

/* line 62, style.scss */
h3 {
  font-size: 25px;
}

/* line 63, style.scss */
h4 {
  font-size: 20px;
}

/* line 64, style.scss */
h5 {
  font-size: 15px;
}

/* line 65, style.scss */
h6 {
  font-size: 10px;
}

/**********************************************/
/* Drodpwn
/**********************************************/
/* line 71, style.scss */
.menu {
  float: left;
  /* First Level */
  /* Second Level */
}
/* line 73, style.scss */
.menu li {
  position: relative;
  white-space: nowrap;
  -webkit-transition: all 0s ease-in;
  -moz-transition: all 0s ease-in;
  -o-transition: all 0s ease-in;
  transition: all 0.2s ease-in;
}
/* line 77, style.scss */
.menu li a {
  font-size: 14px;
  padding: 12px 15px 13px;
  display: block;
  position: relative;
  color: #fff;
}
/* line 86, style.scss */
.menu > li {
  float: left;
  background: #3498db;
}
/* line 89, style.scss */
.menu > li:hover, .menu > li.hover {
  background: #2ecc71;
}
/* line 94, style.scss */
.menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  background: #2ecc71;
  /* Third Level */
}
/* line 102, style.scss */
.menu ul > li:hover, .menu ul > li.hover {
  background: #f1c40f;
}
/* line 107, style.scss */
.menu ul ul {
  top: 0;
  left: 100%;
  background: #f1c40f;
}
/* line 112, style.scss */
.menu ul ul > li:hover, .menu ul ul > li.hover {
  background: #e2b80f;
}

/* Vertical */
/* line 121, style.scss */
.vertical ul {
  left: 100%;
  top: 0;
}
/* line 125, style.scss */
.vertical li {
  width: 100%;
}
/* line 128, style.scss */
.vertical > li {
  float: none;
}

/* Navbar */
/* line 133, style.scss */
.navbar {
  position: relative;
}
/* line 136, style.scss */
.navbar ul li {
  position: relative;
}
/* line 139, style.scss */
.navbar ul ul {
  left: 0;
  top: 100%;
}
/* line 142, style.scss */
.navbar ul ul li {
  float: left;
}
/* line 148, style.scss */
.navbar li {
  position: static;
}
/* line 151, style.scss */
.navbar > li > ul > li {
  float: left;
}

/* Arrows */
/* line 156, style.scss */
.arrows .with-ul {
  padding-right: 40px;
}
/* line 158, style.scss */
.arrows .with-ul:after {
  font-family: 'Fontello';
  font-size: 10px;
  content: '\e83c';
  position: absolute;
  top: 16px;
  right: 13px;
}

/* line 168, style.scss */
.arrows ul .with-ul:after,
.vertical.arrows > li > .with-ul:after {
  content: '\e83a';
}

/**********************************************/
/* Buttons
/**********************************************/
/* line 176, style.scss */
.btn {
  font: normal 14px "Lato", sans-serif;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  background-color: #dbdee1;
  border: none;
  padding: 12px 15px 13px;
  margin: 1px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0s ease-in;
  -moz-transition: all 0s ease-in;
  -o-transition: all 0s ease-in;
  transition: all 0.2s ease-in;
}
/* line 187, style.scss */
.btn:hover {
  color: #fff!important;
}

/* Disabled */
/* line 193, style.scss */
.btn-disabled {
  background-color: #dbdee1;
  color: #fff;
  cursor: not-allowed;
}
/* line 197, style.scss */
.btn-disabled:hover {
  color: inherit;
}

/* Sizes */
/* line 203, style.scss */
.btn-xsmall {
  padding: 7px 15px 8px;
  font-size: 10px!important;
}

/* line 204, style.scss */
.btn-small {
  padding: 10px 15px 11px;
  font-size: 12px!important;
}

/* line 205, style.scss */
.btn-medium {
  padding: 12px 25px 13px;
  font-size: inherit;
}

/* line 206, style.scss */
.btn-large {
  padding: 13px 35px 14px;
  font-size: 16px!important;
}

/* line 207, style.scss */
.btn-xlarge {
  padding: 14px 35px 15px;
  font-size: 18px!important;
}

/* Colors */
/* line 210, style.scss */
.btn-black {
  background-color: #4f4f4f;
  border-color: #2a2a2a;
}

/* line 211, style.scss */
.btn-blue {
  background-color: #3498db;
  border-color: #2980b9;
}

/* line 212, style.scss */
.btn-gray {
  background-color: #95a5a6;
  border-color: #7f8c8d;
}

/* line 213, style.scss */
.btn-green {
  background-color: #2ecc71;
  border-color: #27ae60;
}

/* line 214, style.scss */
.btn-yellow {
  background-color: #f1c40f;
  border-color: #e2b80f;
}

/* line 215, style.scss */
.btn-orange {
  background-color: #e67e22;
  border-color: #d35400;
}

/* line 216, style.scss */
.btn-pink {
  background-color: #f657ac;
  border-color: #c6468d;
}

/* line 217, style.scss */
.btn-purple {
  background-color: #9b59b6;
  border-color: #8e44ad;
}

/* line 218, style.scss */
.btn-red {
  background-color: #e74c3c;
  border-color: #c0392b;
}

/* line 219, style.scss */
.btn-white {
  background-color: #dbdee1;
  border-color: #bdc3c7;
}

/* Rollovers */
/* line 223, style.scss */
.btn-black-h,
.btn-black:hover {
  background-color: #2a2a2a;
}

/* line 225, style.scss */
.btn-blue-h,
.btn-blue:hover {
  background-color: #2980b9;
}

/* line 227, style.scss */
.btn-gray-h,
.btn-gray:hover {
  background-color: #7f8c8d;
}

/* line 229, style.scss */
.btn-green-h,
.btn-green:hover {
  background-color: #27ae60;
}

/* line 231, style.scss */
.btn-yellow-h,
.btn-yellow:hover {
  background-color: #e2b80f;
}

/* line 233, style.scss */
.btn-orange-h,
.btn-orange:hover {
  background-color: #d35400;
}

/* line 235, style.scss */
.btn-pink-h,
.btn-pink:hover {
  background-color: #c6468d;
}

/* line 237, style.scss */
.btn-purple-h,
.btn-purple:hover {
  background-color: #8e44ad;
}

/* line 239, style.scss */
.btn-red-h,
.btn-red:hover {
  background-color: #c0392b;
}

/* line 241, style.scss */
.btn-white-h,
.btn-white:hover {
  background-color: #bdc3c7;
}

/* Transforms */
/* line 244, style.scss */
.btn-upper {
  text-transform: uppercase;
}

/* line 245, style.scss */
.btn-lower {
  text-transform: lowercase;
}

/* line 246, style.scss */
.btn-cap {
  text-transform: capitalize;
}

/* Styles */
/* line 249, style.scss */
.btn-bold {
  font-weight: bold!important;
}

/* line 250, style.scss */
.btn-italic {
  font-style: italic!important;
}

/* line 251, style.scss */
.btn-under {
  text-decoration: underline!important;
}

/* line 252, style.scss */
.btn-strike {
  text-decoration: line-through!important;
}

/* Align Right */
/* line 255, style.scss */
.btn-right {
  float: right;
  margin-left: 10px;
}

/**********************************************/
/* Inputs, Textareas & Labels
/**********************************************/
/* line 261, style.scss */
input, label, textarea, select, option {
  font: normal 14px "Lato", sans-serif;
  color: #bdc3c7;
  float: left;
  outline: none;
}

/* line 267, style.scss */
textarea {
  float: none!important;
}

/* line 270, style.scss */
label {
  color: #7f8c8d;
  margin: 0 5px 0 0;
  padding: 1px 5px 2px;
  cursor: pointer;
}
/* line 275, style.scss */
label.to-inputs, label.to-textareas {
  font-size: 16px;
  padding: 10px 0;
}
/* line 279, style.scss */
label.on-the-top {
  float: none;
  clear: both;
  display: table;
}
/* line 284, style.scss */
label.hover {
  color: #535d5e;
}

/* line 288, style.scss */
input, textarea {
  border: 2px solid #bdc3c7;
  padding: 10px 8px;
  -webkit-transition: all 0s ease-in;
  -moz-transition: all 0s ease-in;
  -o-transition: all 0s ease-in;
  transition: all 0.35s ease-in;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  /* States */
  /* Colors */
}
/* line 295, style.scss */
input:hover, textarea:hover {
  color: #7f8c8d;
  border-color: #7f8c8d;
}
/* line 299, style.scss */
input:focus, textarea:focus {
  color: #5a5f63;
  border-color: #5a5f63;
}
/* line 305, style.scss */
input.input-disabled, input.textarea-disabled, input.select-disabled, textarea.input-disabled, textarea.textarea-disabled, textarea.select-disabled {
  background: #f4f6f6;
  border-color: #d5dbdb!important;
  color: #d5dbdb!important;
  cursor: not-allowed;
}
/* line 313, style.scss */
input.focus-black:focus, textarea.focus-black:focus {
  color: #4f4f4f;
  border-color: #4f4f4f;
}
/* line 317, style.scss */
input.focus-blue:focus, textarea.focus-blue:focus {
  color: #3498db;
  border-color: #3498db;
}
/* line 321, style.scss */
input.focus-gray:focus, textarea.focus-gray:focus {
  color: #95a5a6;
  border-color: #95a5a6;
}
/* line 325, style.scss */
input.focus-green:focus, textarea.focus-green:focus {
  color: #2ecc71;
  border-color: #2ecc71;
}
/* line 329, style.scss */
input.focus-yellow:focus, textarea.focus-yellow:focus {
  color: #f1c40f;
  border-color: #f1c40f;
}
/* line 333, style.scss */
input.focus-orange:focus, textarea.focus-orange:focus {
  color: #e67e22;
  border-color: #e67e22;
}
/* line 337, style.scss */
input.focus-pink:focus, textarea.focus-pink:focus {
  color: #f657ac;
  border-color: #f657ac;
}
/* line 341, style.scss */
input.focus-purple:focus, textarea.focus-purple:focus {
  color: #9b59b6;
  border-color: #9b59b6;
}
/* line 345, style.scss */
input.focus-red:focus, textarea.focus-red:focus {
  color: #e74c3c;
  border-color: #e74c3c;
}

/* line 350, style.scss */
input {
  text-indent: 5px;
  margin: 0 3px 3px 0!important;
  /* Sizes */
}
/* line 355, style.scss */
input.input-small {
  width: 200px;
}
/* line 358, style.scss */
input.input-medium {
  width: 250px;
}
/* line 361, style.scss */
input.input-large {
  width: 300px;
}

/* Input with Icons */
/* line 367, style.scss */
.input-icon {
  position: relative;
  float: left;
  /* Actions */
}
/* line 370, style.scss */
.input-icon input {
  float: none;
  padding-right: 32px!important;
}
/* line 374, style.scss */
.input-icon i {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 10px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  background: #000;
  font-size: 15px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 389, style.scss */
.input-icon.input-error input {
  border-color: #e74c3c;
  color: #e74c3c;
}
/* line 393, style.scss */
.input-icon.input-error i {
  background: #e74c3c;
}
/* line 398, style.scss */
.input-icon.input-sucess input {
  border-color: #2ecc71;
  color: #2ecc71;
}
/* line 402, style.scss */
.input-icon.input-sucess i {
  background: #2ecc71;
}

/* Input Increment */
/* line 408, style.scss */
.input-increment {
  display: inline-block;
  position: relative;
  padding: 10px;
}
/* line 412, style.scss */
.input-increment input {
  width: 70px;
}
/* line 416, style.scss */
.input-increment.input-medium input {
  width: 110px;
}
/* line 421, style.scss */
.input-increment.input-large input {
  width: 150px;
}
/* line 425, style.scss */
.input-increment i {
  display: block;
  color: #fff;
  background: #dbdee1;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 13px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  right: 18px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 445, style.scss */
.input-increment i.more {
  top: 14px;
}
/* line 448, style.scss */
.input-increment i.less {
  bottom: 17px;
  font-size: 25px;
}
/* line 452, style.scss */
.input-increment i:hover {
  background: #7f8c8d;
}

/**********************************************/
/* Checkbox & Radio Buttons
/**********************************************/
/* line 464, style.scss */
.check,
.radio {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  background-image: url("../images/check.png");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  /* Label Colors */
}
/* line 475, style.scss */
.check.disabled,
.radio.disabled {
  cursor: not-allowed;
}
/* line 477, style.scss */
.check.disabled + label,
.radio.disabled + label {
  cursor: not-allowed;
  color: #95a5a6 !important;
}
/* line 484, style.scss */
.check.black.checked + label,
.radio.black.checked + label {
  color: #2a2a2a;
}
/* line 489, style.scss */
.check.blue.checked + label,
.radio.blue.checked + label {
  color: #3498db;
}
/* line 494, style.scss */
.check.gray.checked + label,
.radio.gray.checked + label {
  color: #95a5a6;
}
/* line 499, style.scss */
.check.green.checked + label,
.radio.green.checked + label {
  color: #2ecc71;
}
/* line 504, style.scss */
.check.yellow.checked + label,
.radio.yellow.checked + label {
  color: #f1c40f;
}
/* line 509, style.scss */
.check.orange.checked + label,
.radio.orange.checked + label {
  color: #e67e22;
}
/* line 514, style.scss */
.check.pink.checked + label,
.radio.pink.checked + label {
  color: #f657ac;
}
/* line 519, style.scss */
.check.purple.checked + label,
.radio.purple.checked + label {
  color: #9b59b6;
}
/* line 524, style.scss */
.check.red.checked + label,
.radio.red.checked + label {
  color: #e74c3c;
}

/* Checkboxes */
/* line 531, style.scss */
.check.black {
  background-position: 0 0;
}
/* line 533, style.scss */
.check.black.hover {
  background-position: -22px 0;
}
/* line 536, style.scss */
.check.black.checked {
  background-position: -44px 0;
}
/* line 539, style.scss */
.check.black.disabled {
  background-position: -66px 0;
}
/* line 541, style.scss */
.check.black.disabled.checked {
  background-position: -88px 0;
}
/* line 546, style.scss */
.check.blue {
  background-position: 0 -20px;
}
/* line 548, style.scss */
.check.blue.hover {
  background-position: -22px -20px;
}
/* line 551, style.scss */
.check.blue.checked {
  background-position: -44px -20px;
}
/* line 554, style.scss */
.check.blue.disabled {
  background-position: -66px -20px;
}
/* line 556, style.scss */
.check.blue.disabled.checked {
  background-position: -88px -20px;
}
/* line 561, style.scss */
.check.gray {
  background-position: 0 -40px;
}
/* line 563, style.scss */
.check.gray.hover {
  background-position: -22px -40px;
}
/* line 566, style.scss */
.check.gray.checked {
  background-position: -44px -40px;
}
/* line 569, style.scss */
.check.gray.disabled {
  background-position: -66px -40px;
  cursor: not-allowed;
}
/* line 572, style.scss */
.check.gray.disabled.checked {
  background-position: -88px -40px;
}
/* line 577, style.scss */
.check.green {
  background-position: 0 -60px;
}
/* line 579, style.scss */
.check.green.hover {
  background-position: -22px -60px;
}
/* line 582, style.scss */
.check.green.checked {
  background-position: -44px -60px;
}
/* line 585, style.scss */
.check.green.disabled {
  background-position: -66px -60px;
  cursor: not-allowed;
}
/* line 588, style.scss */
.check.green.disabled.checked {
  background-position: -88px -60px;
}
/* line 593, style.scss */
.check.yellow {
  background-position: 0 -80px;
}
/* line 595, style.scss */
.check.yellow.hover {
  background-position: -22px -80px;
}
/* line 598, style.scss */
.check.yellow.checked {
  background-position: -44px -80px;
}
/* line 601, style.scss */
.check.yellow.disabled {
  background-position: -66px -80px;
}
/* line 603, style.scss */
.check.yellow.disabled.checked {
  background-position: -88px -80px;
}
/* line 608, style.scss */
.check.orange {
  background-position: 0 -100px;
}
/* line 610, style.scss */
.check.orange.hover {
  background-position: -22px -100px;
}
/* line 613, style.scss */
.check.orange.checked {
  background-position: -44px -100px;
}
/* line 616, style.scss */
.check.orange.disabled {
  background-position: -66px -100px;
}
/* line 618, style.scss */
.check.orange.disabled.checked {
  background-position: -88px -100px;
}
/* line 623, style.scss */
.check.pink {
  background-position: 0 -120px;
}
/* line 625, style.scss */
.check.pink.hover {
  background-position: -22px -120px;
}
/* line 628, style.scss */
.check.pink.checked {
  background-position: -44px -120px;
}
/* line 631, style.scss */
.check.pink.disabled {
  background-position: -66px -120px;
}
/* line 633, style.scss */
.check.pink.disabled.checked {
  background-position: -88px -120px;
}
/* line 638, style.scss */
.check.purple {
  background-position: 0 -140px;
}
/* line 640, style.scss */
.check.purple.hover {
  background-position: -22px -140px;
}
/* line 643, style.scss */
.check.purple.checked {
  background-position: -44px -140px;
}
/* line 646, style.scss */
.check.purple.disabled {
  background-position: -66px -140px;
}
/* line 648, style.scss */
.check.purple.disabled.checked {
  background-position: -88px -140px;
}
/* line 653, style.scss */
.check.red {
  background-position: 0 -160px;
}
/* line 655, style.scss */
.check.red.hover {
  background-position: -22px -160px;
}
/* line 658, style.scss */
.check.red.checked {
  background-position: -44px -160px;
}
/* line 661, style.scss */
.check.red.disabled {
  background-position: -66px -160px;
}
/* line 663, style.scss */
.check.red.disabled.checked {
  background-position: -88px -160px;
}

/* Radio Buttons */
/* line 671, style.scss */
.radio.black {
  background-position: -110px 0;
}
/* line 673, style.scss */
.radio.black.hover {
  background-position: -132px 0;
}
/* line 676, style.scss */
.radio.black.checked {
  background-position: -154px 0;
}
/* line 679, style.scss */
.radio.black.disabled {
  background-position: -176px 0;
}
/* line 681, style.scss */
.radio.black.disabled.checked {
  background-position: -198px 0;
}
/* line 686, style.scss */
.radio.blue {
  background-position: -110px -20px;
}
/* line 688, style.scss */
.radio.blue.hover {
  background-position: -132px -20px;
}
/* line 691, style.scss */
.radio.blue.checked {
  background-position: -154px -20px;
}
/* line 694, style.scss */
.radio.blue.disabled {
  background-position: -176px -20px;
}
/* line 696, style.scss */
.radio.blue.disabled.checked {
  background-position: -198px -20px;
}
/* line 701, style.scss */
.radio.gray {
  background-position: -110px -40px;
}
/* line 703, style.scss */
.radio.gray.hover {
  background-position: -132px -40px;
}
/* line 706, style.scss */
.radio.gray.checked {
  background-position: -154px -40px;
}
/* line 709, style.scss */
.radio.gray.disabled {
  background-position: -176px -40px;
}
/* line 711, style.scss */
.radio.gray.disabled.checked {
  background-position: -198px -40px;
}
/* line 716, style.scss */
.radio.green {
  background-position: -110px -60px;
}
/* line 718, style.scss */
.radio.green.hover {
  background-position: -132px -60px;
}
/* line 721, style.scss */
.radio.green.checked {
  background-position: -154px -60px;
}
/* line 724, style.scss */
.radio.green.disabled {
  background-position: -176px -60px;
}
/* line 726, style.scss */
.radio.green.disabled.checked {
  background-position: -198px -60px;
}
/* line 731, style.scss */
.radio.yellow {
  background-position: -110px -80px;
}
/* line 733, style.scss */
.radio.yellow.hover {
  background-position: -132px -80px;
}
/* line 736, style.scss */
.radio.yellow.checked {
  background-position: -154px -80px;
}
/* line 739, style.scss */
.radio.yellow.disabled {
  background-position: -176px -80px;
}
/* line 741, style.scss */
.radio.yellow.disabled.checked {
  background-position: -198px -80px;
}
/* line 746, style.scss */
.radio.orange {
  background-position: -110px -100px;
}
/* line 748, style.scss */
.radio.orange.hover {
  background-position: -132px -100px;
}
/* line 751, style.scss */
.radio.orange.checked {
  background-position: -154px -100px;
}
/* line 754, style.scss */
.radio.orange.disabled {
  background-position: -176px -100px;
}
/* line 756, style.scss */
.radio.orange.disabled.checked {
  background-position: -198px -100px;
}
/* line 761, style.scss */
.radio.pink {
  background-position: -110px -120px;
}
/* line 763, style.scss */
.radio.pink.hover {
  background-position: -132px -120px;
}
/* line 766, style.scss */
.radio.pink.checked {
  background-position: -154px -120px;
}
/* line 769, style.scss */
.radio.pink.disabled {
  background-position: -176px -120px;
}
/* line 771, style.scss */
.radio.pink.disabled.checked {
  background-position: -198px -120px;
}
/* line 776, style.scss */
.radio.purple {
  background-position: -110px -140px;
}
/* line 778, style.scss */
.radio.purple.hover {
  background-position: -132px -140px;
}
/* line 781, style.scss */
.radio.purple.checked {
  background-position: -154px -140px;
}
/* line 784, style.scss */
.radio.purple.disabled {
  background-position: -176px -140px;
}
/* line 786, style.scss */
.radio.purple.disabled.checked {
  background-position: -198px -140px;
}
/* line 791, style.scss */
.radio.red {
  background-position: -110px -160px;
}
/* line 793, style.scss */
.radio.red.hover {
  background-position: -132px -160px;
}
/* line 796, style.scss */
.radio.red.checked {
  background-position: -154px -160px;
}
/* line 799, style.scss */
.radio.red.disabled {
  background-position: -176px -160px;
}
/* line 801, style.scss */
.radio.red.disabled.checked {
  background-position: -198px -160px;
}

/**********************************************/
/* Selects
/**********************************************/
/* line 811, style.scss */
.select {
  width: 220px;
  height: 60px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  outline: none;
}
/* line 818, style.scss */
.select .selector {
  background: #fff;
  border: 2px solid #bdc3c7;
  color: #bdc3c7;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 36px;
  text-indent: 15px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0s ease-in;
  -moz-transition: all 0s ease-in;
  -o-transition: all 0s ease-in;
  transition: all 0.25s ease-in;
}
/* line 834, style.scss */
.select .selector.focus, .select .selector.open {
  color: #fff;
  border: 2px solid #e67e22;
  background: #e67e22;
}
/* line 840, style.scss */
.select i {
  display: inline-block;
  color: #bdc3c7;
  font-size: 20px;
  position: absolute;
  top: 8px;
  right: 5px;
  z-index: 10;
  -webkit-transition: all 0s ease-in;
  -moz-transition: all 0s ease-in;
  -o-transition: all 0s ease-in;
  transition: all 0.25s ease-in;
}
/* line 849, style.scss */
.select i.open, .select i.focus {
  color: #fff;
}
/* line 852, style.scss */
.select i.open {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 856, style.scss */
.select ul.options {
  background: #e67e22;
  list-style: none;
  font-weight: normal;
  left: 0;
  margin: 41px 0 0 0;
  padding: 5px;
  position: absolute;
  top: 0!important;
  width: 100%;
  z-index: 1;
  overflow-y: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 869, style.scss */
.select ul.options li {
  color: #fff;
  margin-bottom: 1px;
}
/* line 872, style.scss */
.select ul.options li a {
  background: #fff;
  color: #000;
  display: block;
  outline: none;
  padding: 7px;
}
/* line 878, style.scss */
.select ul.options li a:hover, .select ul.options li a:focus, .select ul.options li a.focus {
  color: #fff;
  background: #000;
}
/* line 883, style.scss */
.select ul.options li.last a {
  border-bottom: none;
}
/* line 886, style.scss */
.select ul.options li .disabled {
  cursor: not-allowed;
  color: #95a5a6;
  background: #dbdee1;
  display: block;
  padding: 7px;
}
/* line 893, style.scss */
.select ul.options li .group {
  color: #e67e22;
  background: #fff;
  display: block;
  font-weight: bold;
  padding: 10px;
}
/* line 900, style.scss */
.select ul.options li .sub {
  text-indent: 10px;
}

/**********************************************/
/* Tabs
/**********************************************/
/* line 912, style.scss */
.tabs ul {
  width: 100%;
  padding: 10px;
}
/* line 915, style.scss */
.tabs ul li {
  list-style: none;
  display: block;
  float: left;
}
/* line 919, style.scss */
.tabs ul li a {
  margin: 0;
  display: block;
  border-right-width: 1px;
  border-right-style: solid;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 925, style.scss */
.tabs ul li a.current {
  background: #dbdee1;
  border-color: #dbdee1;
}
/* line 929, style.scss */
.tabs ul li a span {
  font-size: 13px;
  padding: 5px;
  background: rgba(0, 0, 0, 0);
  color: #dbdee1;
  text-align: center;
  display: inline;
  margin: 0 0 0 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 940, style.scss */
.tabs ul li:first-child a {
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -ms-border-radius: 5px 0 0 0;
  -o-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
/* line 943, style.scss */
.tabs ul li:last-child a {
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -ms-border-radius: 0 5px 0 0;
  -o-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}

/* line 952, style.scss */
.tabs-content {
  clear: both;
  height: auto;
  margin: 0 10px;
  padding: 10px 15px;
  background: #dbdee1;
  -webkit-border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  -ms-border-radius: 0 5px 5px 5px;
  -o-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;
}
/* line 959, style.scss */
.tabs-content div {
  clear: both;
  padding: 0 20px 0 0;
}

/**********************************************/
/* Accordion
/**********************************************/
/* line 968, style.scss */
.accordion {
  margin: 0 10px;
}
/* line 970, style.scss */
.accordion h3 {
  display: block;
  position: relative;
  margin: 0;
  padding: 15px 0;
  font-size: 16px;
  color: #fff;
  text-indent: 15px;
  background: #e74c3c;
  border-bottom: 1px solid #c0392b;
  cursor: pointer;
  -webkit-transition: all 0s ease-in;
  -moz-transition: all 0s ease-in;
  -o-transition: all 0s ease-in;
  transition: all 0.25s ease-in;
}
/* line 982, style.scss */
.accordion h3:first-child, .accordion h3.first {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 985, style.scss */
.accordion h3:last-child, .accordion h3.last {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
/* line 987, style.scss */
.accordion h3:last-child.current, .accordion h3.last.current {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 991, style.scss */
.accordion h3:hover, .accordion h3.hover {
  background: #c0392b;
}
/* line 994, style.scss */
.accordion h3.current {
  background: #95a5a6;
  border-color: #7f8c8d;
}
/* line 997, style.scss */
.accordion h3.current i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 1001, style.scss */
.accordion h3 i {
  position: absolute;
  text-indent: 0;
  top: 17px;
  right: 20px;
  -webkit-transition: all 0s ease-in;
  -moz-transition: all 0s ease-in;
  -o-transition: all 0s ease-in;
  transition: all 0.15s ease-in;
}
/* line 1009, style.scss */
.accordion .accordion-content {
  clear: both;
  height: auto;
  padding: 10px 15px;
  border: 1px solid #95a5a6;
  border-top: 0;
  border-bottom: 0;
}
/* line 1016, style.scss */
.accordion .accordion-content:last-child, .accordion .accordion-content.last {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #95a5a6;
}

/**********************************************/
/* Modal
/**********************************************/
/* line 1027, style.scss */
.modal-background {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 100;
  display: none;
  top: 0;
  left: 0;
}

/* line 1037, style.scss */
.modal {
  visibility: hidden;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  width: 520px;
  background: #fff;
  position: absolute;
  z-index: 200;
  padding: 30px 40px 34px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
/* line 1049, style.scss */
.modal.small {
  width: 200px;
  margin-left: -140px;
}
/* line 1050, style.scss */
.modal.medium {
  width: 400px;
  margin-left: -240px;
}
/* line 1051, style.scss */
.modal.large {
  width: 600px;
  margin-left: -340px;
}
/* line 1052, style.scss */
.modal.xlarge {
  width: 800px;
  margin-left: -440px;
}
/* line 1053, style.scss */
.modal .close-modal {
  font-size: 15px;
  position: absolute;
  top: 8px;
  right: 10px;
  color: #4f4f4f;
  cursor: pointer;
}
/* line 1060, style.scss */
.modal .close-modal:hover {
  color: #2a2a2a;
}

/**********************************************/
/* Tooltip
/**********************************************/
/* line 1070, style.scss */
.tipsy {
  position: absolute;
  font-style: 12px;
  padding: 5px;
  z-index: 9999;
}
/* line 1075, style.scss */
.tipsy .tipsy-inner {
  background: #000;
  color: #FFF;
  max-width: 200px;
  padding: 5px 8px 4px 8px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 1083, style.scss */
.tipsy .tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #000;
}
/* line 1090, style.scss */
.tipsy .tipsy-arrow-n {
  border-bottom-color: #000;
}
/* line 1091, style.scss */
.tipsy .tipsy-arrow-s {
  border-top-color: #000;
}
/* line 1092, style.scss */
.tipsy .tipsy-arrow-e {
  border-left-color: #000;
}
/* line 1093, style.scss */
.tipsy .tipsy-arrow-w {
  border-right-color: #000;
}

/* line 1095, style.scss */
.tipsy-n .tipsy-arrow {
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 1096, style.scss */
.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 1097, style.scss */
.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 1098, style.scss */
.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 1099, style.scss */
.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 1100, style.scss */
.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 1101, style.scss */
.tipsy-e .tipsy-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

/* line 1102, style.scss */
.tipsy-w .tipsy-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

/**********************************************/
/* Pagination
/**********************************************/
/* line 1107, style.scss */
.pagination {
  width: 100%;
}
/* line 1109, style.scss */
.pagination ul {
  display: inline-block;
  background: #dbdee1;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 1114, style.scss */
.pagination ul.right {
  float: right;
}
/* line 1117, style.scss */
.pagination ul.left {
  float: left;
}
/* line 1120, style.scss */
.pagination ul li {
  display: inline-block;
  margin: 0 2px;
}
/* line 1123, style.scss */
.pagination ul li a {
  display: block;
  border: 4px solid #dbdee1;
  color: #fff;
  background: #fff;
  padding: 1px 6px;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: background 0s ease-in, border-color 0s ease-in, color 0s ease-in;
  -moz-transition: background 0s ease-in, border-color 0s ease-in, color 0s ease-in;
  -o-transition: background 0s ease-in, border-color 0s ease-in, color 0s ease-in;
  transition: background 0.2s ease-in, border-color 0.1s ease-in, color 0.2s ease-in;
}
/* line 1133, style.scss */
.pagination ul li a:hover {
  border-color: #2ecc71;
  background: #2ecc71;
}
/* line 1137, style.scss */
.pagination ul li a.current {
  color: #dbdee1;
}
/* line 1141, style.scss */
.pagination ul li.previous, .pagination ul li.next {
  margin: 0;
}
/* line 1143, style.scss */
.pagination ul li.previous a, .pagination ul li.next a {
  color: #fff;
  padding: 12px 17px;
  background: #dbdee1;
  border: none;
}
/* line 1148, style.scss */
.pagination ul li.previous a:hover, .pagination ul li.next a:hover {
  background: #2ecc71;
}
/* line 1154, style.scss */
.pagination ul li.previous a {
  border-right: 1px solid #fff;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
/* line 1160, style.scss */
.pagination ul li.next a {
  border-left: 1px solid #fff;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

/**********************************************/
/* Progressbar
/**********************************************/
/* line 1173, style.scss */
.progressbar {
  height: 10px;
  padding: 5px;
  position: relative;
  background: #dbdee1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* Colors */
  /* Sizes */
}
/* line 1180, style.scss */
.progressbar > span {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  -webkit-border-radius: 20px 8px 8px 20px;
  -moz-border-radius: 20px 8px 8px 20px;
  -ms-border-radius: 20px 8px 8px 20px;
  -o-border-radius: 20px 8px 8px 20px;
  border-radius: 20px 8px 8px 20px;
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0), inset 0 -2px 6px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0), inset 0 -2px 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0), inset 0 -2px 6px rgba(0, 0, 0, 0);
}
/* line 1189, style.scss */
.progressbar.black > span {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #4f4f4f), color-stop(100%, #2a2a2a));
  background-image: -webkit-linear-gradient(left top, #4f4f4f, #2a2a2a);
  background-image: -moz-linear-gradient(left top, #4f4f4f, #2a2a2a);
  background-image: -o-linear-gradient(left top, #4f4f4f, #2a2a2a);
  background-image: linear-gradient(left top, #4f4f4f, #2a2a2a);
}
/* line 1192, style.scss */
.progressbar.blue > span {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #3498db), color-stop(100%, #2980b9));
  background-image: -webkit-linear-gradient(left top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(left top, #3498db, #2980b9);
  background-image: -o-linear-gradient(left top, #3498db, #2980b9);
  background-image: linear-gradient(left top, #3498db, #2980b9);
}
/* line 1195, style.scss */
.progressbar.gray > span {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #95a5a6), color-stop(100%, #7f8c8d));
  background-image: -webkit-linear-gradient(left top, #95a5a6, #7f8c8d);
  background-image: -moz-linear-gradient(left top, #95a5a6, #7f8c8d);
  background-image: -o-linear-gradient(left top, #95a5a6, #7f8c8d);
  background-image: linear-gradient(left top, #95a5a6, #7f8c8d);
}
/* line 1198, style.scss */
.progressbar.green > span {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #2ecc71), color-stop(100%, #27ae60));
  background-image: -webkit-linear-gradient(left top, #2ecc71, #27ae60);
  background-image: -moz-linear-gradient(left top, #2ecc71, #27ae60);
  background-image: -o-linear-gradient(left top, #2ecc71, #27ae60);
  background-image: linear-gradient(left top, #2ecc71, #27ae60);
}
/* line 1201, style.scss */
.progressbar.yellow > span {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f1c40f), color-stop(100%, #e2b80f));
  background-image: -webkit-linear-gradient(left top, #f1c40f, #e2b80f);
  background-image: -moz-linear-gradient(left top, #f1c40f, #e2b80f);
  background-image: -o-linear-gradient(left top, #f1c40f, #e2b80f);
  background-image: linear-gradient(left top, #f1c40f, #e2b80f);
}
/* line 1204, style.scss */
.progressbar.orange > span {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #e67e22), color-stop(100%, #d35400));
  background-image: -webkit-linear-gradient(left top, #e67e22, #d35400);
  background-image: -moz-linear-gradient(left top, #e67e22, #d35400);
  background-image: -o-linear-gradient(left top, #e67e22, #d35400);
  background-image: linear-gradient(left top, #e67e22, #d35400);
}
/* line 1207, style.scss */
.progressbar.pink > span {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f657ac), color-stop(100%, #c6468d));
  background-image: -webkit-linear-gradient(left top, #f657ac, #c6468d);
  background-image: -moz-linear-gradient(left top, #f657ac, #c6468d);
  background-image: -o-linear-gradient(left top, #f657ac, #c6468d);
  background-image: linear-gradient(left top, #f657ac, #c6468d);
}
/* line 1210, style.scss */
.progressbar.purple > span {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #9b59b6), color-stop(100%, #8e44ad));
  background-image: -webkit-linear-gradient(left top, #9b59b6, #8e44ad);
  background-image: -moz-linear-gradient(left top, #9b59b6, #8e44ad);
  background-image: -o-linear-gradient(left top, #9b59b6, #8e44ad);
  background-image: linear-gradient(left top, #9b59b6, #8e44ad);
}
/* line 1213, style.scss */
.progressbar.red > span {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #e74c3c), color-stop(100%, #c0392b));
  background-image: -webkit-linear-gradient(left top, #e74c3c, #c0392b);
  background-image: -moz-linear-gradient(left top, #e74c3c, #c0392b);
  background-image: -o-linear-gradient(left top, #e74c3c, #c0392b);
  background-image: linear-gradient(left top, #e74c3c, #c0392b);
}
/* line 1217, style.scss */
.progressbar.medium {
  height: 15px;
  padding: 8px;
}
/* line 1221, style.scss */
.progressbar.large {
  height: 20px;
  padding: 12px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}

/* line 1228, style.scss */
.progressbar > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.75, rgba(255, 255, 255, 0)), color-stop(0.75, transparent), to(transparent));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 75%, transparent 75%, transparent);
  z-index: 1;
  -webkit-border-radius: 20px 8px 8px 20px;
  -moz-border-radius: 20px 8px 8px 20px;
  -ms-border-radius: 20px 8px 8px 20px;
  -o-border-radius: 20px 8px 8px 20px;
  border-radius: 20px 8px 8px 20px;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -o-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
}

/* line 1245, style.scss */
.animate > span:after {
  display: none;
}

@-webkit-keyframes move {
  /* line 1249, style.scss */
  0% {
    background-position: 0 0;
  }

  /* line 1252, style.scss */
  100% {
    background-position: 50px 50px;
  }
}

/* line 1257, style.scss */
.nostripes > span > span,
.nostripes > span:after {
  -webkit-animation: none;
  background-image: none;
}

/**********************************************/
/* Tables
/**********************************************/
/* line 1266, style.scss */
table {
  margin: 10px 0;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
/* line 1271, style.scss */
table td {
  padding: 10px;
  background: #dbdee1;
  color: #7f8c8d;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0s ease-in;
  -moz-transition: all 0s ease-in;
  -o-transition: all 0s ease-in;
  transition: all 0.2s ease-in;
}
/* line 1278, style.scss */
table tr:nth-child(odd) td {
  background: #bdc3c7;
}
/* line 1281, style.scss */
table tr:hover td {
  background: #3498db;
  color: #dbdee1;
}
/* line 1286, style.scss */
table thead td {
  background: #2980b9 !important;
  color: #dbdee1;
}
/* line 1289, style.scss */
table thead td:first-child {
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -ms-border-radius: 5px 0 0 0;
  -o-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
/* line 1292, style.scss */
table thead td:last-child {
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -ms-border-radius: 0 5px 0 0;
  -o-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
/* line 1298, style.scss */
table tfoot td {
  background: #3498db !important;
  color: #dbdee1;
}
/* line 1301, style.scss */
table tfoot td:first-child {
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  -ms-border-radius: 0 0 0 5px;
  -o-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
/* line 1304, style.scss */
table tfoot td:last-child {
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  -ms-border-radius: 0 0 5px 0;
  -o-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}

/* line 1312, style.scss */
table {
  margin: 0;
  padding: 0;
  border: none;
}

/**********************************************/
/* Responsive Slider
/**********************************************/
/* line 1349, style.scss */
ul.slider {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 10px;
}
/* line 1355, style.scss */
ul.slider li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
/* line 1363, style.scss */
ul.slider li:first-child {
  position: relative;
  display: block;
  float: left;
}
/* line 1369, style.scss */
ul.slider img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
/* line 1376, style.scss */
ul.slider p.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  color: #fff;
  font-size: 15px;
  padding: 15px 0;
  text-indent: 20px;
  width: 100%;
}

/* line 1388, style.scss */
ul.rslides_tabs {
  clear: both;
  padding-left: 10px;
}
/* line 1391, style.scss */
ul.rslides_tabs li {
  display: block;
  float: left;
  margin-right: 1px;
}
/* line 1395, style.scss */
ul.rslides_tabs li a {
  display: block;
  padding: 8px;
  background: #ccc;
  color: #fff;
}
/* line 1401, style.scss */
ul.rslides_tabs li.rslides_here a {
  background: #000;
}

/* line 1407, style.scss */
.callbacks_container a.prev {
  margin-left: 10px;
  margin-right: 1px;
}
/* line 1411, style.scss */
.callbacks_container a.prev, .callbacks_container a.next {
  padding: 10px;
  background: #ccc;
  color: #fff;
}
/* line 1415, style.scss */
.callbacks_container a.prev:hover, .callbacks_container a.next:hover {
  background: #000;
}

/**********************************************/
/* Scroll Bar
/**********************************************/
/**********************************************/
/* Global
/**********************************************/
/* line 1432, style.scss */
.hide {
  position: relative;
  top: 0;
  left: 0;
  display: none;
}

/* line 1438, style.scss */
.clear, br {
  clear: both;
}

/* basic scrollbar styling */
/* vertical scrollbar */
/* line 6, custom-scrollbar.scss */
.mCSB_container {
  width: auto;
  margin-right: 30px;
  overflow: hidden;
}

/* line 11, custom-scrollbar.scss */
.mCSB_container.mCS_no_scrollbar {
  margin-right: 0;
}

/* line 15, custom-scrollbar.scss */
.mCS_disabled > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar {
  margin-right: 30px;
}

/* line 18, custom-scrollbar.scss */
.mCustomScrollBox > .mCSB_scrollTools {
  width: 16px;
  height: 100%;
  top: 0;
  right: 0;
}

/* line 24, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}

/* line 32, custom-scrollbar.scss */
.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0;
}

/* line 35, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 43, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 100%;
  height: 30px;
}

/* line 48, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}

/* line 58, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: relative;
  height: 20px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

/* line 66, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_buttonDown {
  top: 100%;
  margin-top: -40px;
}

/* horizontal scrollbar */
/* line 71, custom-scrollbar.scss */
.mCSB_horizontal > .mCSB_container {
  height: auto;
  margin-right: 0;
  margin-bottom: 30px;
  overflow: hidden;
}

/* line 77, custom-scrollbar.scss */
.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar {
  margin-bottom: 0;
}

/* line 81, custom-scrollbar.scss */
.mCS_disabled > .mCSB_horizontal > .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed > .mCSB_horizontal > .mCSB_container.mCS_no_scrollbar {
  margin-right: 0;
  margin-bottom: 30px;
}

/* line 85, custom-scrollbar.scss */
.mCSB_horizontal.mCustomScrollBox > .mCSB_scrollTools {
  width: 100%;
  height: 16px;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/* line 94, custom-scrollbar.scss */
.mCSB_horizontal > .mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 0 20px;
}

/* line 97, custom-scrollbar.scss */
.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  height: 2px;
  margin: 7px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 105, custom-scrollbar.scss */
.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger {
  width: 30px;
  height: 100%;
}

/* line 109, custom-scrollbar.scss */
.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 4px;
  margin: 6px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 118, custom-scrollbar.scss */
.mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonRight {
  display: block;
  position: relative;
  width: 20px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
  float: left;
}

/* line 128, custom-scrollbar.scss */
.mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonRight {
  margin-left: -40px;
  float: right;
}

/* line 132, custom-scrollbar.scss */
.mCustomScrollBox {
  -ms-touch-action: none;
}

/* default scrollbar colors and backgrounds (default theme) */
/* line 137, custom-scrollbar.scss */
.mCustomScrollBox > .mCSB_scrollTools {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  /* old ie */
}

/* line 141, custom-scrollbar.scss */
.mCustomScrollBox:hover > .mCSB_scrollTools {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
  /* old ie */
}

/* line 145, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_draggerRail {
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.4);
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */
}

/* line 150, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.75);
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  /* old ie */
}

/* line 155, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.85);
  filter: "alpha(opacity=85)";
  -ms-filter: "alpha(opacity=85)";
  /* old ie */
}

/* line 160, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.9);
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
  /* old ie */
}

/* line 167, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  background-image: url(mCSB_buttons.png);
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */
}

/* line 173, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_buttonUp {
  background-position: 0 0;
  /* 
  sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
  */
}

/* line 179, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_buttonDown {
  background-position: 0 -20px;
  /* 
  sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
  */
}

/* line 185, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: 0 -40px;
  /* 
  sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
  */
}

/* line 191, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_buttonRight {
  background-position: 0 -56px;
  /* 
  sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
  */
}

/* line 200, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  /* old ie */
}

/* line 207, custom-scrollbar.scss */
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active {
  opacity: 0.9;
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
  /* old ie */
}
