@import url("_config.scss");
/* Shadowbox */
/* line 4, shadowbox.scss */
#sb-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: left;
  visibility: hidden;
  display: none;
}
/* line 12, shadowbox.scss */
#sb-container #sb-overlay {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 17, shadowbox.scss */
#sb-container #sb-wrapper {
  position: absolute;
  visibility: hidden;
  width: 100px;
  background: #fff;
  /* Title */
}
/* line 23, shadowbox.scss */
#sb-container #sb-wrapper #sb-title, #sb-container #sb-wrapper #sb-info {
  margin: 0 20px;
  position: relative;
  overflow: hidden;
  font-size: 25px;
  height: 30px;
}
/* line 30, shadowbox.scss */
#sb-container #sb-wrapper #sb-title {
  padding-top: 20px;
}
/* line 33, shadowbox.scss */
#sb-container #sb-wrapper #sb-info {
  padding-bottom: 10px;
}

/* line 38, shadowbox.scss */
#sb-wrapper-inner {
  position: relative;
  border: 1px solid #303030;
  overflow: hidden;
  height: 100px;
  margin: 20px;
  /* Loading */
}
/* line 44, shadowbox.scss */
#sb-wrapper-inner #sb-body {
  background: #060606;
  position: relative;
  height: 100%;
  padding: 0!important;
}
/* line 49, shadowbox.scss */
#sb-wrapper-inner #sb-body #sb-body-inner {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 56, shadowbox.scss */
#sb-wrapper-inner #sb-loading {
  background: #060606;
  position: relative;
  height: 100%;
}
/* line 60, shadowbox.scss */
#sb-wrapper-inner #sb-loading #sb-loading-inner {
  position: absolute;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  width: 100%;
  text-align: center;
}
/* line 69, shadowbox.scss */
#sb-wrapper-inner #sb-loading #sb-loading-inner i {
  font-size: 30px;
  color: #fff;
}

/* line 77, shadowbox.scss */
#sb-info, #sb-info-inner {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

/* Counter */
/* line 84, shadowbox.scss */
#sb-counter {
  float: left;
  width: 45%;
}
/* line 87, shadowbox.scss */
#sb-counter a {
  padding: 0 4px 0 0;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
/* line 93, shadowbox.scss */
#sb-counter a:hover, #sb-counter a.sb-counter-current {
  color: #f08;
}

/* Navigation */
/* line 100, shadowbox.scss */
#sb-nav {
  float: right;
  height: 16px;
  padding: 2px 0;
  width: 45%;
}
/* line 105, shadowbox.scss */
#sb-nav a {
  display: block;
  float: right;
  height: 16px;
  width: 16px;
  margin-left: 3px;
  cursor: pointer;
  background-repeat: no-repeat;
}
/* line 113, shadowbox.scss */
#sb-nav a#sb-nav-play {
  background-image: url(assets/images/play.png);
}
/* line 116, shadowbox.scss */
#sb-nav a#sb-nav-pause {
  background-image: url(assets/images/pause.png);
}
