@import url("http://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
@import url("fontello.css");
/**********************************************/
/* Dependences
/**********************************************/
/**********************************************/
/* Configurable Variables
/**********************************************/
/* line 38, style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 43, style.scss */
body {
  background: #fff;
  font: normal 10px "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 48, style.scss */
a {
  text-decoration: none;
}

/**********************************************/
/* Headings
/**********************************************/
/* line 56, style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 5px 0;
  padding: 5px 0;
}

/* line 61, style.scss */
h1 {
  font-size: 35px;
}

/* line 62, style.scss */
h2 {
  font-size: 30px;
}

/* line 63, style.scss */
h3 {
  font-size: 25px;
}

/* line 64, style.scss */
h4 {
  font-size: 20px;
}

/* line 65, style.scss */
h5 {
  font-size: 15px;
}

/* line 66, style.scss */
h6 {
  font-size: 10px;
}

/**********************************************/
/* Buttons
/**********************************************/
/* line 72, style.scss */
.btn {
  font: normal 14px "Lato", sans-serif;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  background-color: #dbdee1;
  border: none;
  padding: 12px 15px 13px;
  margin: 1px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 83, style.scss */
.btn:hover {
  color: #fff!important;
}

/* Disabled */
/* line 89, style.scss */
.btn-disabled {
  background-color: #dbdee1;
  color: #fff;
  cursor: not-allowed;
}
/* line 93, style.scss */
.btn-disabled:hover {
  color: inherit;
}

/* Sizes */
/* line 99, style.scss */
.btn-xsmall {
  padding: 7px 15px 8px;
  font-size: 10px!important;
}

/* line 100, style.scss */
.btn-small {
  padding: 10px 15px 11px;
  font-size: 12px!important;
}

/* line 101, style.scss */
.btn-medium {
  padding: 12px 25px 13px;
  font-size: inherit;
}

/* line 102, style.scss */
.btn-large {
  padding: 13px 35px 14px;
  font-size: 16px!important;
}

/* line 103, style.scss */
.btn-xlarge {
  padding: 14px 35px 15px;
  font-size: 18px!important;
}

/* Colors */
/* line 106, style.scss */
.btn-black {
  background-color: #4f4f4f;
  border-color: #2a2a2a;
}

/* line 107, style.scss */
.btn-blue {
  background-color: #3498db;
  border-color: #2980b9;
}

/* line 108, style.scss */
.btn-gray {
  background-color: #95a5a6;
  border-color: #7f8c8d;
}

/* line 109, style.scss */
.btn-green {
  background-color: #2ecc71;
  border-color: #27ae60;
}

/* line 110, style.scss */
.btn-yellow {
  background-color: #f1c40f;
  border-color: #e2b80f;
}

/* line 111, style.scss */
.btn-orange {
  background-color: #e67e22;
  border-color: #d35400;
}

/* line 112, style.scss */
.btn-pink {
  background-color: #f657ac;
  border-color: #c6468d;
}

/* line 113, style.scss */
.btn-purple {
  background-color: #9b59b6;
  border-color: #8e44ad;
}

/* line 114, style.scss */
.btn-red {
  background-color: #e74c3c;
  border-color: #c0392b;
}

/* line 115, style.scss */
.btn-white {
  background-color: #dbdee1;
  border-color: #bdc3c7;
}

/* Rollovers */
/* line 119, style.scss */
.btn-black-h,
.btn-black:hover {
  background-color: #2a2a2a;
}

/* line 121, style.scss */
.btn-blue-h,
.btn-blue:hover {
  background-color: #2980b9;
}

/* line 123, style.scss */
.btn-gray-h,
.btn-gray:hover {
  background-color: #7f8c8d;
}

/* line 125, style.scss */
.btn-green-h,
.btn-green:hover {
  background-color: #27ae60;
}

/* line 127, style.scss */
.btn-yellow-h,
.btn-yellow:hover {
  background-color: #e2b80f;
}

/* line 129, style.scss */
.btn-orange-h,
.btn-orange:hover {
  background-color: #d35400;
}

/* line 131, style.scss */
.btn-pink-h,
.btn-pink:hover {
  background-color: #c6468d;
}

/* line 133, style.scss */
.btn-purple-h,
.btn-purple:hover {
  background-color: #8e44ad;
}

/* line 135, style.scss */
.btn-red-h,
.btn-red:hover {
  background-color: #c0392b;
}

/* line 137, style.scss */
.btn-white-h,
.btn-white:hover {
  background-color: #bdc3c7;
}

/* Transforms */
/* line 140, style.scss */
.btn-upper {
  text-transform: uppercase;
}

/* line 141, style.scss */
.btn-lower {
  text-transform: lowercase;
}

/* line 142, style.scss */
.btn-cap {
  text-transform: capitalize;
}

/* Styles */
/* line 145, style.scss */
.btn-bold {
  font-weight: bold!important;
}

/* line 146, style.scss */
.btn-italic {
  font-style: italic!important;
}

/* line 147, style.scss */
.btn-under {
  text-decoration: underline!important;
}

/* line 148, style.scss */
.btn-strike {
  text-decoration: line-through!important;
}

/**********************************************/
/* Inputs, Textareas & Labels
/**********************************************/
/* line 154, style.scss */
input, label, textarea, select, option {
  font: normal 14px "Lato", sans-serif;
  color: #bdc3c7;
  float: left;
  outline: none;
}

/* line 160, style.scss */
label {
  color: #7f8c8d;
  margin: 0 5px 0 0;
  padding: 1px 5px 2px;
  cursor: pointer;
}
/* line 165, style.scss */
label.to-inputs, label.to-textareas {
  font-size: 16px;
  padding: 10px 0;
}
/* line 169, style.scss */
label.on-the-top {
  float: none;
  clear: both;
  display: table;
}
/* line 174, style.scss */
label.hover {
  color: #535d5e;
}

/* line 178, style.scss */
input, textarea {
  border: 2px solid #bdc3c7;
  padding: 10px 8px;
  -webkit-transition: all 0.35s ease-in;
  -moz-transition: all 0.35s ease-in;
  -o-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  /* States */
  /* Colors */
}
/* line 185, style.scss */
input:hover, textarea:hover {
  color: #7f8c8d;
  border-color: #7f8c8d;
}
/* line 189, style.scss */
input:focus, textarea:focus {
  color: #5a5f63;
  border-color: #5a5f63;
}
/* line 195, style.scss */
input.input-disabled, input.textarea-disabled, input.select-disabled, textarea.input-disabled, textarea.textarea-disabled, textarea.select-disabled {
  background: #f4f6f6;
  border-color: #d5dbdb!important;
  color: #d5dbdb!important;
  cursor: not-allowed;
}
/* line 203, style.scss */
input.focus-black:focus, textarea.focus-black:focus {
  color: #4f4f4f;
  border-color: #4f4f4f;
}
/* line 207, style.scss */
input.focus-blue:focus, textarea.focus-blue:focus {
  color: #3498db;
  border-color: #3498db;
}
/* line 211, style.scss */
input.focus-gray:focus, textarea.focus-gray:focus {
  color: #95a5a6;
  border-color: #95a5a6;
}
/* line 215, style.scss */
input.focus-green:focus, textarea.focus-green:focus {
  color: #2ecc71;
  border-color: #2ecc71;
}
/* line 219, style.scss */
input.focus-yellow:focus, textarea.focus-yellow:focus {
  color: #f1c40f;
  border-color: #f1c40f;
}
/* line 223, style.scss */
input.focus-orange:focus, textarea.focus-orange:focus {
  color: #e67e22;
  border-color: #e67e22;
}
/* line 227, style.scss */
input.focus-pink:focus, textarea.focus-pink:focus {
  color: #f657ac;
  border-color: #f657ac;
}
/* line 231, style.scss */
input.focus-purple:focus, textarea.focus-purple:focus {
  color: #9b59b6;
  border-color: #9b59b6;
}
/* line 235, style.scss */
input.focus-red:focus, textarea.focus-red:focus {
  color: #e74c3c;
  border-color: #e74c3c;
}

/* line 240, style.scss */
input {
  text-indent: 5px;
  margin: 0 3px 3px 0!important;
  /* Sizes */
}
/* line 245, style.scss */
input.input-small {
  width: 200px;
}
/* line 248, style.scss */
input.input-medium {
  width: 250px;
}
/* line 251, style.scss */
input.input-large {
  width: 300px;
}

/* Input with Icons */
/* line 257, style.scss */
.input-icon {
  position: relative;
  float: left;
  /* Actions */
}
/* line 260, style.scss */
.input-icon input {
  float: none;
  padding-right: 32px!important;
}
/* line 264, style.scss */
.input-icon i {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 10px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  background: #000;
  font-size: 15px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 279, style.scss */
.input-icon.input-error input {
  border-color: #e74c3c;
  color: #e74c3c;
}
/* line 283, style.scss */
.input-icon.input-error i {
  background: #e74c3c;
}
/* line 288, style.scss */
.input-icon.input-sucess input {
  border-color: #2ecc71;
  color: #2ecc71;
}
/* line 292, style.scss */
.input-icon.input-sucess i {
  background: #2ecc71;
}

/* line 297, style.scss */
textarea {
  float: none!important;
}

/**********************************************/
/* Checkbox & Radio Buttons
/**********************************************/
/* line 306, style.scss */
.check,
.radio {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  background-image: url("../images/check.png");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  /* Label Colors */
}
/* line 317, style.scss */
.check.disabled,
.radio.disabled {
  cursor: not-allowed;
}
/* line 319, style.scss */
.check.disabled + label,
.radio.disabled + label {
  cursor: not-allowed;
  color: #95a5a6 !important;
}
/* line 326, style.scss */
.check.black.checked + label,
.radio.black.checked + label {
  color: #2a2a2a;
}
/* line 331, style.scss */
.check.blue.checked + label,
.radio.blue.checked + label {
  color: #3498db;
}
/* line 336, style.scss */
.check.gray.checked + label,
.radio.gray.checked + label {
  color: #95a5a6;
}
/* line 341, style.scss */
.check.green.checked + label,
.radio.green.checked + label {
  color: #2ecc71;
}
/* line 346, style.scss */
.check.yellow.checked + label,
.radio.yellow.checked + label {
  color: #f1c40f;
}
/* line 351, style.scss */
.check.orange.checked + label,
.radio.orange.checked + label {
  color: #e67e22;
}
/* line 356, style.scss */
.check.pink.checked + label,
.radio.pink.checked + label {
  color: #f657ac;
}
/* line 361, style.scss */
.check.purple.checked + label,
.radio.purple.checked + label {
  color: #9b59b6;
}
/* line 366, style.scss */
.check.red.checked + label,
.radio.red.checked + label {
  color: #e74c3c;
}

/* Checkboxes */
/* line 373, style.scss */
.check.black {
  background-position: 0 0;
}
/* line 375, style.scss */
.check.black.hover {
  background-position: -22px 0;
}
/* line 378, style.scss */
.check.black.checked {
  background-position: -44px 0;
}
/* line 381, style.scss */
.check.black.disabled {
  background-position: -66px 0;
}
/* line 383, style.scss */
.check.black.disabled.checked {
  background-position: -88px 0;
}
/* line 388, style.scss */
.check.blue {
  background-position: 0 -20px;
}
/* line 390, style.scss */
.check.blue.hover {
  background-position: -22px -20px;
}
/* line 393, style.scss */
.check.blue.checked {
  background-position: -44px -20px;
}
/* line 396, style.scss */
.check.blue.disabled {
  background-position: -66px -20px;
}
/* line 398, style.scss */
.check.blue.disabled.checked {
  background-position: -88px -20px;
}
/* line 403, style.scss */
.check.gray {
  background-position: 0 -40px;
}
/* line 405, style.scss */
.check.gray.hover {
  background-position: -22px -40px;
}
/* line 408, style.scss */
.check.gray.checked {
  background-position: -44px -40px;
}
/* line 411, style.scss */
.check.gray.disabled {
  background-position: -66px -40px;
  cursor: not-allowed;
}
/* line 414, style.scss */
.check.gray.disabled.checked {
  background-position: -88px -40px;
}
/* line 419, style.scss */
.check.green {
  background-position: 0 -60px;
}
/* line 421, style.scss */
.check.green.hover {
  background-position: -22px -60px;
}
/* line 424, style.scss */
.check.green.checked {
  background-position: -44px -60px;
}
/* line 427, style.scss */
.check.green.disabled {
  background-position: -66px -60px;
  cursor: not-allowed;
}
/* line 430, style.scss */
.check.green.disabled.checked {
  background-position: -88px -60px;
}
/* line 435, style.scss */
.check.yellow {
  background-position: 0 -80px;
}
/* line 437, style.scss */
.check.yellow.hover {
  background-position: -22px -80px;
}
/* line 440, style.scss */
.check.yellow.checked {
  background-position: -44px -80px;
}
/* line 443, style.scss */
.check.yellow.disabled {
  background-position: -66px -80px;
}
/* line 445, style.scss */
.check.yellow.disabled.checked {
  background-position: -88px -80px;
}
/* line 450, style.scss */
.check.orange {
  background-position: 0 -100px;
}
/* line 452, style.scss */
.check.orange.hover {
  background-position: -22px -100px;
}
/* line 455, style.scss */
.check.orange.checked {
  background-position: -44px -100px;
}
/* line 458, style.scss */
.check.orange.disabled {
  background-position: -66px -100px;
}
/* line 460, style.scss */
.check.orange.disabled.checked {
  background-position: -88px -100px;
}
/* line 465, style.scss */
.check.pink {
  background-position: 0 -120px;
}
/* line 467, style.scss */
.check.pink.hover {
  background-position: -22px -120px;
}
/* line 470, style.scss */
.check.pink.checked {
  background-position: -44px -120px;
}
/* line 473, style.scss */
.check.pink.disabled {
  background-position: -66px -120px;
}
/* line 475, style.scss */
.check.pink.disabled.checked {
  background-position: -88px -120px;
}
/* line 480, style.scss */
.check.purple {
  background-position: 0 -140px;
}
/* line 482, style.scss */
.check.purple.hover {
  background-position: -22px -140px;
}
/* line 485, style.scss */
.check.purple.checked {
  background-position: -44px -140px;
}
/* line 488, style.scss */
.check.purple.disabled {
  background-position: -66px -140px;
}
/* line 490, style.scss */
.check.purple.disabled.checked {
  background-position: -88px -140px;
}
/* line 495, style.scss */
.check.red {
  background-position: 0 -160px;
}
/* line 497, style.scss */
.check.red.hover {
  background-position: -22px -160px;
}
/* line 500, style.scss */
.check.red.checked {
  background-position: -44px -160px;
}
/* line 503, style.scss */
.check.red.disabled {
  background-position: -66px -160px;
}
/* line 505, style.scss */
.check.red.disabled.checked {
  background-position: -88px -160px;
}

/* Radio Buttons */
/* line 513, style.scss */
.radio.black {
  background-position: -110px 0;
}
/* line 515, style.scss */
.radio.black.hover {
  background-position: -132px 0;
}
/* line 518, style.scss */
.radio.black.checked {
  background-position: -154px 0;
}
/* line 521, style.scss */
.radio.black.disabled {
  background-position: -176px 0;
}
/* line 523, style.scss */
.radio.black.disabled.checked {
  background-position: -198px 0;
}
/* line 528, style.scss */
.radio.blue {
  background-position: -110px -20px;
}
/* line 530, style.scss */
.radio.blue.hover {
  background-position: -132px -20px;
}
/* line 533, style.scss */
.radio.blue.checked {
  background-position: -154px -20px;
}
/* line 536, style.scss */
.radio.blue.disabled {
  background-position: -176px -20px;
}
/* line 538, style.scss */
.radio.blue.disabled.checked {
  background-position: -198px -20px;
}
/* line 543, style.scss */
.radio.gray {
  background-position: -110px -40px;
}
/* line 545, style.scss */
.radio.gray.hover {
  background-position: -132px -40px;
}
/* line 548, style.scss */
.radio.gray.checked {
  background-position: -154px -40px;
}
/* line 551, style.scss */
.radio.gray.disabled {
  background-position: -176px -40px;
}
/* line 553, style.scss */
.radio.gray.disabled.checked {
  background-position: -198px -40px;
}
/* line 558, style.scss */
.radio.green {
  background-position: -110px -60px;
}
/* line 560, style.scss */
.radio.green.hover {
  background-position: -132px -60px;
}
/* line 563, style.scss */
.radio.green.checked {
  background-position: -154px -60px;
}
/* line 566, style.scss */
.radio.green.disabled {
  background-position: -176px -60px;
}
/* line 568, style.scss */
.radio.green.disabled.checked {
  background-position: -198px -60px;
}
/* line 573, style.scss */
.radio.yellow {
  background-position: -110px -80px;
}
/* line 575, style.scss */
.radio.yellow.hover {
  background-position: -132px -80px;
}
/* line 578, style.scss */
.radio.yellow.checked {
  background-position: -154px -80px;
}
/* line 581, style.scss */
.radio.yellow.disabled {
  background-position: -176px -80px;
}
/* line 583, style.scss */
.radio.yellow.disabled.checked {
  background-position: -198px -80px;
}
/* line 588, style.scss */
.radio.orange {
  background-position: -110px -100px;
}
/* line 590, style.scss */
.radio.orange.hover {
  background-position: -132px -100px;
}
/* line 593, style.scss */
.radio.orange.checked {
  background-position: -154px -100px;
}
/* line 596, style.scss */
.radio.orange.disabled {
  background-position: -176px -100px;
}
/* line 598, style.scss */
.radio.orange.disabled.checked {
  background-position: -198px -100px;
}
/* line 603, style.scss */
.radio.pink {
  background-position: -110px -120px;
}
/* line 605, style.scss */
.radio.pink.hover {
  background-position: -132px -120px;
}
/* line 608, style.scss */
.radio.pink.checked {
  background-position: -154px -120px;
}
/* line 611, style.scss */
.radio.pink.disabled {
  background-position: -176px -120px;
}
/* line 613, style.scss */
.radio.pink.disabled.checked {
  background-position: -198px -120px;
}
/* line 618, style.scss */
.radio.purple {
  background-position: -110px -140px;
}
/* line 620, style.scss */
.radio.purple.hover {
  background-position: -132px -140px;
}
/* line 623, style.scss */
.radio.purple.checked {
  background-position: -154px -140px;
}
/* line 626, style.scss */
.radio.purple.disabled {
  background-position: -176px -140px;
}
/* line 628, style.scss */
.radio.purple.disabled.checked {
  background-position: -198px -140px;
}
/* line 633, style.scss */
.radio.red {
  background-position: -110px -160px;
}
/* line 635, style.scss */
.radio.red.hover {
  background-position: -132px -160px;
}
/* line 638, style.scss */
.radio.red.checked {
  background-position: -154px -160px;
}
/* line 641, style.scss */
.radio.red.disabled {
  background-position: -176px -160px;
}
/* line 643, style.scss */
.radio.red.disabled.checked {
  background-position: -198px -160px;
}

/**********************************************/
/* Selects
/**********************************************/
/* line 654, style.scss */
.select {
  width: 220px;
  height: 60px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  outline: none;
}
/* line 661, style.scss */
.select .selector {
  background: #fff;
  border: 2px solid #bdc3c7;
  color: #bdc3c7;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 36px;
  text-indent: 15px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
/* line 677, style.scss */
.select .selector.focus, .select .selector.open {
  color: #fff;
  border: 2px solid #e67e22;
  background: #e67e22;
}
/* line 683, style.scss */
.select i {
  display: inline-block;
  color: #bdc3c7;
  font-size: 20px;
  position: absolute;
  top: 8px;
  right: 5px;
  z-index: 10;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
/* line 692, style.scss */
.select i.open, .select i.focus {
  color: #fff;
}
/* line 695, style.scss */
.select i.open {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 699, style.scss */
.select ul.options {
  background: #e67e22;
  list-style: none;
  font-weight: normal;
  left: 0;
  margin: 41px 0 0 0;
  padding: 5px;
  position: absolute;
  top: 0!important;
  width: 100%;
  z-index: 1;
  overflow-y: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 712, style.scss */
.select ul.options li {
  color: #fff;
  margin-bottom: 1px;
}
/* line 715, style.scss */
.select ul.options li a {
  background: #fff;
  color: #000;
  display: block;
  outline: none;
  padding: 7px;
}
/* line 721, style.scss */
.select ul.options li a:hover, .select ul.options li a:focus, .select ul.options li a.focus {
  color: #fff;
  background: #000;
}
/* line 726, style.scss */
.select ul.options li.last a {
  border-bottom: none;
}
/* line 729, style.scss */
.select ul.options li .disabled {
  cursor: not-allowed;
  color: #95a5a6;
  background: #dbdee1;
  display: block;
  padding: 7px;
}
/* line 736, style.scss */
.select ul.options li .group {
  color: #e67e22;
  background: #fff;
  display: block;
  font-weight: bold;
  padding: 10px;
}
/* line 743, style.scss */
.select ul.options li .sub {
  text-indent: 10px;
}

/**********************************************/
/* Tabs
/**********************************************/
/* line 755, style.scss */
.tabs ul {
  width: 100%;
  padding: 10px;
}
/* line 758, style.scss */
.tabs ul li {
  list-style: none;
  display: block;
  float: left;
}
/* line 762, style.scss */
.tabs ul li a {
  margin: 0;
  display: block;
  border-right-width: 1px;
  border-right-style: solid;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 768, style.scss */
.tabs ul li a.current {
  background: #95a5a6;
  border-color: #7f8c8d;
}
/* line 772, style.scss */
.tabs ul li a span {
  font-size: 13px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.3);
  color: #dbdee1;
  text-align: center;
  display: inline;
  margin: 0 0 0 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 783, style.scss */
.tabs ul li:first-child a {
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -ms-border-radius: 5px 0 0 0;
  -o-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
/* line 786, style.scss */
.tabs ul li:last-child a {
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -ms-border-radius: 0 5px 0 0;
  -o-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}

/* line 795, style.scss */
.tabs-content {
  clear: both;
  height: auto;
  margin: 0 10px;
  padding: 10px 15px;
  border: 1px solid #95a5a6;
  -webkit-border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  -ms-border-radius: 0 5px 5px 5px;
  -o-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;
}
/* line 802, style.scss */
.tabs-content div {
  clear: both;
  padding: 0 20px 0 0;
}

/**********************************************/
/* Accordion
/**********************************************/
/* line 811, style.scss */
.accordion {
  margin: 0 10px;
}
/* line 813, style.scss */
.accordion h3 {
  display: block;
  position: relative;
  margin: 0;
  padding: 15px 0;
  font-size: 16px;
  color: #fff;
  text-indent: 15px;
  background: #e74c3c;
  border-bottom: 1px solid #c0392b;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
/* line 825, style.scss */
.accordion h3:first-child, .accordion h3.first {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 828, style.scss */
.accordion h3:last-child, .accordion h3.last {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
/* line 830, style.scss */
.accordion h3:last-child.current, .accordion h3.last.current {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 834, style.scss */
.accordion h3:hover, .accordion h3.hover {
  background: #c0392b;
}
/* line 837, style.scss */
.accordion h3.current {
  background: #95a5a6;
  border-color: #7f8c8d;
}
/* line 840, style.scss */
.accordion h3.current i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 844, style.scss */
.accordion h3 i {
  position: absolute;
  text-indent: 0;
  top: 17px;
  right: 20px;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
/* line 852, style.scss */
.accordion .accordion-content {
  clear: both;
  height: auto;
  padding: 10px 15px;
  border: 1px solid #95a5a6;
  border-top: 0;
  border-bottom: 0;
}
/* line 859, style.scss */
.accordion .accordion-content:last-child, .accordion .accordion-content.last {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #95a5a6;
}

/**********************************************/
/* Global
/**********************************************/
/* line 877, style.scss */
.hide {
  position: relative;
  top: 0;
  left: 0;
  display: none;
}

/* line 883, style.scss */
.clear, br {
  clear: both;
}
