/************************************************************************
*   
*	FLAT  UI
*  
*	Author:			Wallace Erick
*	Date:			05 May 2013
*	Web:			http://www.wallaceerick.com.br/
*	Email:			wallace_erick@hotmail.com
*	Last Modified:	20 Jun 2013
*
*************************************************************************/
 
/**********************************************/
/* Headings
/**********************************************/

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 5px 0;
	padding: 5px 0;
}
h1 {font-size: 35px;}
h2 {font-size: 30px;}
h3 {font-size: 25px;}
h4 {font-size: 20px;}
h5 {font-size: 15px;}
h6 {font-size: 10px;}

@import url("http://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");

/******************/
/* Required
/******************/

@import "compass";

/******************/
/* Modules
/******************/

@import "modules/base";
@import "modules/colors";
@import "modules/icons";

/******************/
/* Partials
/******************/

@import "partials/dropdown";
@import "partials/buttons";
@import "partials/input";
@import "partials/check";
@import "partials/select";
@import "partials/tabs";
@import "partials/accordion";
@import "partials/modal";
@import "partials/tooltip";
@import "partials/pagination";
@import "partials/progressbar";
@import "partials/table";
@import "partials/slider";
@import "partials/scrollbar";
@import "partials/shadowbox";
@import "partials/audio";
@import "partials/video";
//@import "partials/datepicker";










