/**********************************************/
/* Dependences
/**********************************************/

@import "compass/css3";
@import url("http://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
@import url("fontello.css");

/**********************************************/
/* Configurable Variables
/**********************************************/

$black: 	#4F4F4F;
$black-h: 	#2A2A2A;
$blue: 		#3498DB;
$blue-h: 	#2980B9;
$gray: 		#95A5A6;
$gray-h: 	#7F8C8D;
$green: 	#2ECC71;
$green-h: 	#27AE60;
$yellow: 	#F1C40F;
$yellow-h: 	#E2B80F;
$orange: 	#E67E22;
$orange-h: 	#D35400;
$pink: 		#F657AC;
$pink-h: 	#C6468D;
$purple: 	#9B59B6;
$purple-h: 	#8E44AD;
$red: 		#E74C3C;
$red-h: 	#C0392B;
$white: 	#DBDEE1;
$white-h: 	#BDC3C7;

* {
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
}
body {
	background: #fff;
	font: normal 14px "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

/**********************************************/
/* Headings
/**********************************************/

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 5px 0;
	padding: 5px 0;
}
h1 {font-size: 35px;}
h2 {font-size: 30px;}
h3 {font-size: 25px;}
h4 {font-size: 20px;}
h5 {font-size: 15px;}
h6 {font-size: 10px;}

/**********************************************/
/* Drodpwn
/**********************************************/

.menu {
	float: left;
	li {
		position: relative;
		white-space: nowrap;
		@include transition(all 0.2s ease-in);
		a {
			font-size: 14px;
			padding: 12px 15px 13px;
			display: block;
			position: relative;
			color: #fff;
		}
	}
	/* First Level */
	> li {
		float: left;
		background: $blue;
		&:hover, &.hover {
			background: $green; 
		}
	}
	/* Second Level */
	ul {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		z-index: 99;
		background: $green; 
		> li {
			&:hover, &.hover {
				background: $yellow; 
			}
		}
		/* Third Level */
		ul {
			top: 0;
			left: 100%;
			background: $yellow; 
			> li {
				&:hover, &.hover {
					background: $yellow-h; 
				}
			}
		}
	}
}
/* Vertical */
.vertical {
	ul {
		left: 100%;
		top: 0;
	}
	li {
		width: 100%;
	}
	> li {
	  float: none;
	}
}
/* Navbar */
.navbar {
	position: relative;
	ul {
		li { 
			position: relative;
		}
		ul {
			left: 0;
			top: 100%;
			li {
				// width: 100%;
				float: left;
			}
		}
	}
	li { 
		position: static;
	}
	> li > ul > li {
		float: left;
	}
}
/* Arrows */
.arrows .with-ul {
	padding-right: 40px;
	&:after {
		font-family: 'Fontello';
		font-size: 10px;
		content: '\e83c';
		position: absolute;
		top: 16px;
		right: 13px;
	}
}
.arrows ul .with-ul:after,
.vertical.arrows > li > .with-ul:after {
		content: '\e83a';
}

/**********************************************/
/* Buttons
/**********************************************/

.btn {
	font: normal 14px "Lato", sans-serif;
	display: inline-block;
	color: #fff;
	cursor: pointer;
	background-color: $white;
	border: none;
	padding: 12px 15px 13px;
	margin: 1px 0;
	@include border-radius(3px);
	@include transition(all 0.2s ease-in);
	&:hover {
		color: #fff!important;
	}
}

/* Disabled */
.btn-disabled {
	background-color: $white;
	color: #fff; 
	cursor: not-allowed;
	&:hover {
		color: inherit;
	}
}

/* Sizes */
.btn-xsmall 	{padding: 7px 15px 8px;   font-size:10px!important;}
.btn-small 		{padding: 10px 15px 11px; font-size:12px!important;}
.btn-medium		{padding: 12px 25px 13px; font-size:inherit;}
.btn-large 		{padding: 13px 35px 14px; font-size:16px!important;}
.btn-xlarge 	{padding: 14px 35px 15px; font-size:18px!important;}

/* Colors */
.btn-black 		{background-color: $black; 	border-color: $black-h;}
.btn-blue 		{background-color: $blue; 	border-color: $blue-h;}
.btn-gray 		{background-color: $gray; 	border-color: $gray-h;}
.btn-green 		{background-color: $green; 	border-color: $green-h;}
.btn-yellow 	{background-color: $yellow; border-color: $yellow-h;}
.btn-orange 	{background-color: $orange; border-color: $orange-h;}
.btn-pink 		{background-color: $pink; 	border-color: $pink-h;}
.btn-purple 	{background-color: $purple; border-color: $purple-h;}
.btn-red 		{background-color: $red; 	border-color: $red-h;}
.btn-white 		{background-color: $white; 	border-color: $white-h;}

/* Rollovers */
.btn-black-h,
.btn-black:hover 	{background-color: $black-h;}
.btn-blue-h,
.btn-blue:hover		{background-color: $blue-h;}
.btn-gray-h,
.btn-gray:hover		{background-color: $gray-h;}
.btn-green-h,
.btn-green:hover	{background-color: $green-h;}
.btn-yellow-h,
.btn-yellow:hover 	{background-color: $yellow-h;}
.btn-orange-h,
.btn-orange:hover 	{background-color: $orange-h;}
.btn-pink-h,
.btn-pink:hover		{background-color: $pink-h;}
.btn-purple-h,
.btn-purple:hover	{background-color: $purple-h;}
.btn-red-h,
.btn-red:hover		{background-color: $red-h;}
.btn-white-h,
.btn-white:hover	{background-color: $white-h;}

/* Transforms */
.btn-upper			{text-transform: uppercase;}
.btn-lower 			{text-transform: lowercase;}
.btn-cap			{text-transform: capitalize;}

/* Styles */
.btn-bold 			{font-weight: bold!important;}
.btn-italic 		{font-style: italic!important;}
.btn-under 			{text-decoration: underline!important;}
.btn-strike 		{text-decoration: line-through!important;}

/* Align Right */
.btn-right 			{float: right; margin-left: 10px;}

/**********************************************/
/* Inputs, Textareas & Labels
/**********************************************/

input, label, textarea, select, option { 
	font: normal 14px "Lato", sans-serif;
	color: $white-h;
	float: left;
	outline: none;
}
textarea {
	float: none!important;
}
label {
	color: $gray-h;
	margin: 0 5px 0 0;
	padding: 1px 5px 2px;
	cursor: pointer;
	&.to-inputs, &.to-textareas {
		font-size: 16px;
		padding: 10px 0;
	}
	&.on-the-top {
		float: none;
		clear: both;
		display: table;
	}
	&.hover {
		color: #535d5e;
	}
}
input, textarea {
	border: 2px solid $white-h;
	padding: 10px 8px;
	@include transition(all 0.35s ease-in);
	@include border-radius(5px);

	/* States */
	&:hover {
		color: $gray-h;
		border-color: $gray-h;
	}
	&:focus {
		color: #5a5f63;
		border-color: #5a5f63;
	}
	&.input-disabled, 
	&.textarea-disabled, 
	&.select-disabled {
		background: #f4f6f6;
		border-color: #d5dbdb!important;
		color: #d5dbdb!important;
		cursor: not-allowed;
	}

	/* Colors */
	&.focus-black:focus {
		color: $black;
		border-color: $black;
	}
	&.focus-blue:focus {
		color: $blue;
		border-color: $blue;
	}
	&.focus-gray:focus {
		color: $gray;
		border-color: $gray;
	}
	&.focus-green:focus {
		color: $green;
		border-color: $green;
	}
	&.focus-yellow:focus {
		color: $yellow;
		border-color: $yellow;
	}
	&.focus-orange:focus {
		color: $orange;
		border-color: $orange;
	}
	&.focus-pink:focus {
		color: $pink;
		border-color: $pink;
	}
	&.focus-purple:focus {
		color: $purple;
		border-color: $purple;
	}
	&.focus-red:focus {
		color: $red;
		border-color: $red;
	}
}
input {
	text-indent: 5px;
	margin: 0 3px 3px 0!important;

	/* Sizes */
	&.input-small {
		width: 200px;
	}
	&.input-medium {
		width: 250px;
	}
	&.input-large {
		width: 300px;
	}
}

/* Input with Icons */
.input-icon {
	position: relative;
	float: left;
	input {
		float: none;
		padding-right: 32px!important;
	}
	i {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 11px;
		right: 10px;
		line-height: 18px;
		color: #fff;
		text-align: center;
		background: #000;
		font-size: 15px;
		@include border-radius(100%);
	}
	/* Actions */
	&.input-error {
		input {
			border-color: $red;
			color: $red;
		}
		i {
			background: $red;
		}
	}
	&.input-sucess {
		input {
			border-color: $green;
			color: $green;
		}
		i {
			background: $green;
		}
	}
}
/* Input Increment */
.input-increment {
	display: inline-block;
	position: relative;
	padding: 10px;
	input {
		width: 70px;
	}
	&.input-medium {
		input {
			width: 110px;
		}
	}
	&.input-large {
		input {
			width: 150px;
		}
	}
	i {  
		display: block; 
		color: #fff;
		background: $white;
		font-size: 20px;
		font-style: normal;
		font-weight: bold;
		width: 15px;
		height: 15px;
		text-align: center;
		line-height: 13px; 
		cursor: pointer;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		position: absolute;
		right: 18px;
		@include border-radius(100%);	
		&.more { 
			top: 14px;
		} 
		&.less {
			bottom: 17px;
			font-size: 25px; 
		}
		&:hover {
			background: $gray-h;
		} 
	} 
}


/**********************************************/
/* Checkbox & Radio Buttons
/**********************************************/

.check,
.radio {
	margin: 0;
	padding: 0;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background-image: url('../images/check.png');
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    &.disabled { 
    	cursor: not-allowed;
    	& + label { 
			cursor: not-allowed;
	    	color: $gray!important;
	    } 
    }
    /* Label Colors */
    &.black.checked {
    	& + label { 
	     	color: $black-h;
	    } 
    }
    &.blue.checked {
    	& + label { 
	     	color: $blue;
	    } 
    }
    &.gray.checked {
    	& + label { 
	     	color: $gray;
	    } 
    }
    &.green.checked {
    	& + label { 
	     	color: $green;
	    } 
    }
    &.yellow.checked {
    	& + label { 
	     	color: $yellow;
	    } 
    }
    &.orange.checked {
    	& + label { 
	     	color: $orange;
	    } 
    }
    &.pink.checked {
    	& + label { 
	     	color: $pink;
	    } 
    }
    &.purple.checked {
    	& + label { 
	     	color: $purple;
	    } 
    }
    &.red.checked {
    	& + label { 
	     	color: $red;
	    } 
    }
}
/* Checkboxes */
.check {
	&.black {
	    background-position: 0 0;
	    &.hover {
	        background-position: -22px 0;
	    }
	    &.checked {
	        background-position: -44px 0;
	    }
	    &.disabled {
	        background-position: -66px 0;
	        &.checked {
		        background-position: -88px 0;
		    }
	    }
	}
	&.blue {
	    background-position: 0 -20px;
	    &.hover {
	        background-position: -22px -20px;
	    }
	    &.checked {
	        background-position: -44px -20px;
	    }
	    &.disabled {
	        background-position: -66px -20px;
	        &.checked {
		        background-position: -88px -20px;
		    }
	    }
	}
	&.gray {
	    background-position: 0 -40px;
	    &.hover {
	        background-position: -22px -40px;
	    }
	    &.checked {
	        background-position: -44px -40px;
	    }
	    &.disabled {
	        background-position: -66px -40px;
	        cursor:not-allowed;
	        &.checked {
		        background-position: -88px -40px;
		    }
	    }
	}
	&.green {
	    background-position: 0 -60px;
	    &.hover {
	        background-position: -22px -60px;
	    }
	    &.checked {
	        background-position: -44px -60px;
	    }
	    &.disabled {
	        background-position: -66px -60px;
	        cursor:not-allowed;
	        &.checked {
		        background-position: -88px -60px;
		    }
	    }
	}
	&.yellow {
	    background-position: 0 -80px;
	    &.hover {
	        background-position: -22px -80px;
	    }
	    &.checked {
	        background-position: -44px -80px;
	    }
	    &.disabled {
	        background-position: -66px -80px;
	        &.checked {
		        background-position: -88px -80px;
		    }
	    }
	}
	&.orange {
	    background-position: 0 -100px;
	    &.hover {
	        background-position: -22px -100px;
	    }
	    &.checked {
	        background-position: -44px -100px;
	    }
	    &.disabled {
	        background-position: -66px -100px;
	        &.checked {
		        background-position: -88px -100px;
		    }
	    }
	} 
	&.pink {
	    background-position: 0 -120px;
	    &.hover {
	        background-position: -22px -120px;
	    }
	    &.checked {
	        background-position: -44px -120px;
	    }
	    &.disabled {
	        background-position: -66px -120px;
	        &.checked {
		        background-position: -88px -120px;
		    }
	    }
	}
	&.purple {
	    background-position: 0 -140px;
	    &.hover {
	        background-position: -22px -140px;
	    }
	    &.checked {
	        background-position: -44px -140px;
	    }
	    &.disabled {
	        background-position: -66px -140px;
	        &.checked {
		        background-position: -88px -140px;
		    }
	    }
	} 
	&.red {
	    background-position: 0 -160px;
	    &.hover {
	        background-position: -22px -160px;
	    }
	    &.checked {
	        background-position: -44px -160px;
	    }
	    &.disabled {
	        background-position: -66px -160px;
	        &.checked {
		        background-position: -88px -160px;
		    }
	    }
	}
}
/* Radio Buttons */
.radio {
	&.black {
	    background-position: -110px 0;
	    &.hover {
	        background-position: -132px 0;
	    }
	    &.checked {
	        background-position: -154px 0;
	    }
	    &.disabled {
	        background-position: -176px 0;
	        &.checked {
		        background-position: -198px 0;
		    }
	    }
	}
	&.blue {
	    background-position: -110px -20px;
	    &.hover {
	        background-position: -132px -20px;
	    }
	    &.checked {
	        background-position: -154px -20px;
	    }
	    &.disabled {
	        background-position: -176px -20px;
	        &.checked {
		        background-position: -198px -20px;
		    }
	    }
	}
	&.gray {
	    background-position: -110px -40px;
	    &.hover {
	        background-position: -132px -40px;
	    }
	    &.checked {
	        background-position: -154px -40px;
	    }
	    &.disabled {
	        background-position: -176px -40px;
	        &.checked {
		        background-position: -198px -40px;
		    }
	    }
	}
	&.green {
	    background-position: -110px -60px;
	    &.hover {
	        background-position: -132px -60px;
	    }
	    &.checked {
	        background-position: -154px -60px;
	    }
	    &.disabled {
	        background-position: -176px -60px;
	        &.checked {
		        background-position: -198px -60px;
		    }
	    }
	}
	&.yellow {
	    background-position: -110px -80px;
	    &.hover {
	        background-position: -132px -80px;
	    }
	    &.checked {
	        background-position: -154px -80px;
	    }
	    &.disabled {
	        background-position: -176px -80px;
	        &.checked {
		        background-position: -198px -80px;
		    }
	    }
	}
	&.orange {
	    background-position: -110px -100px;
	    &.hover {
	        background-position: -132px -100px;
	    }
	    &.checked {
	        background-position: -154px -100px;
	    }
	    &.disabled {
	        background-position: -176px -100px;
	        &.checked {
		        background-position: -198px -100px;
		    }
	    }
	}
	&.pink {
	    background-position: -110px -120px;
	    &.hover {
	        background-position: -132px -120px;
	    }
	    &.checked {
	        background-position: -154px -120px;
	    }
	    &.disabled {
	        background-position: -176px -120px;
	        &.checked {
		        background-position: -198px -120px;
		    }
	    }
	}
	&.purple {
	    background-position: -110px -140px;
	    &.hover {
	        background-position: -132px -140px;
	    }
	    &.checked {
	        background-position: -154px -140px;
	    }
	    &.disabled {
	        background-position: -176px -140px;
	        &.checked {
		        background-position: -198px -140px;
		    }
	    }
	}
	&.red {
	    background-position: -110px -160px;
	    &.hover {
	        background-position: -132px -160px;
	    }
	    &.checked {
	        background-position: -154px -160px;
	    }
	    &.disabled {
	        background-position: -176px -160px;
	        &.checked {
		        background-position: -198px -160px;
		    }
	    }
	}
}
/**********************************************/
/* Selects
/**********************************************/

.select {
	width: 220px; 
	height: 60px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	outline: none;
	.selector {
		background: #fff;
		border: 2px solid $white-h;
		color: $white-h;
		display: block;
		width: 100%;
		height: 40px;
		line-height: 36px;
		text-indent: 15px;
		position: absolute;
		top: 0;
		left: 0; 
		overflow: hidden;
		z-index: 5;
		@include border-radius(4px);
		@include transition(all 0.25s ease-in);
		&.focus, &.open {
			color: #fff;
			border: 2px solid $orange;
			background: $orange;
		}
	}
	i {
		display: inline-block;
		color: $white-h;
		font-size: 20px;
		position: absolute;
		top: 8px;
		right: 5px;
		z-index: 10;
		@include transition(all 0.25s ease-in);
		&.open, &.focus {
			color: #fff;
		}
		&.open {
			@include transform(rotate(-90deg));
		}
	}
	ul.options {
		background: $orange;
		list-style: none;
		font-weight: normal;
		left: 0;
		margin: 41px 0 0 0;
		padding: 5px;
		position: absolute;
		top: 0!important;
		width: 100%;
		z-index: 1;
		overflow-y: auto;
		@include border-radius(4px);
		li {
			color: #fff;
			margin-bottom: 1px;
			a {
				background: #fff;
				color: #000;
				display: block;
				outline: none;
				padding: 7px;
				&:hover, &:focus, &.focus{
					color: #fff;
					background: #000;
				}
			}
			&.last a {
				border-bottom: none;
			}
			.disabled {
				cursor: not-allowed;
				color: $gray;
				background: $white;
				display: block;
				padding: 7px;
			}
			.group {
				color: $orange;
				background: #fff;
				display: block;
				font-weight: bold;
				padding: 10px;
			}
			.sub {
				text-indent: 10px;
			}
		}
	}
}

/**********************************************/
/* Tabs
/**********************************************/

.tabs {
	ul {
		width: 100%;
		padding: 10px;
		li {
			list-style: none;
			display: block;
			float: left;
			a {
				margin: 0;
				display: block;
				border-right-width: 1px;
				border-right-style: solid;
				@include border-radius(0);
				&.current {
					background: $white;
					border-color: $white;
				}
				span {
					font-size: 13px;
					padding: 5px;
					background: rgba(0, 0, 0, 0.3); 
					color: $white;
					text-align: center;
					display: inline;
					margin: 0 0 0 10px;
					@include border-radius(3px);
				}
			}
			&:first-child a {
				@include border-radius(5px 0 0 0);
			}
			&:last-child a {
				@include border-radius(0 5px 0 0);
			}
		}
	}
	&.black {

	}
}
.tabs-content {
	clear: both;
	height: auto;
	margin: 0 10px;
	padding: 10px 15px;
	background: $white;
	@include border-radius(0 5px 5px 5px);
	div  {
		clear: both;
		padding: 0 20px 0 0;
	}
}

/**********************************************/
/* Accordion
/**********************************************/
.accordion {
	margin: 0 10px;
	h3 {
		display: block;
		position: relative;
		margin: 0;
		padding: 15px 0;
		font-size: 16px;
		color: #fff;
		text-indent: 15px;
		background: $red;
		border-bottom: 1px solid $red-h;
		cursor: pointer;
		@include transition(all 0.25s ease-in);
		&:first-child, &.first {
			@include border-radius(5px 5px 0 0);
		}
		&:last-child, &.last {
			@include border-radius(0 0 5px 5px);
			&.current {
				@include border-radius(0);
			}
		}
		&:hover, &.hover {
			background: $red-h;
		}
		&.current {
			background: $gray;
			border-color: $gray-h;
			i  {
				@include transform(rotate(90deg));
			}
		}
		i {
			position: absolute;
			text-indent: 0;
			top: 17px; 
			right: 20px;
			@include transition(all 0.15s ease-in);
		}
	}
	.accordion-content { 
		clear: both;
		height: auto;
		padding: 10px 15px;
		border: 1px solid $gray;
		border-top: 0;
		border-bottom: 0;
		&:last-child, &.last {
			@include border-radius(0 0 5px 5px);
			border: 1px solid $gray;
		}
	}
}

/**********************************************/
/* Modal
/**********************************************/

.modal-background { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
}
.modal {
	visibility: hidden;
	top: 100px; 
	left: 50%;
	margin-left: -300px;
	width: 520px;
	background: #fff;
	position: absolute;
	z-index: 200;
	padding: 30px 40px 34px;
	@include border-radius(5px);
	@include box-shadow(0 0 10px rgba(0, 0, 0, 0.6));
	&.small 	{width: 200px; margin-left: -140px;}
	&.medium 	{width: 400px; margin-left: -240px;}
	&.large 	{width: 600px; margin-left: -340px;}
	&.xlarge 	{width: 800px; margin-left: -440px;}
	.close-modal {
		font-size: 15px;
		position: absolute;
		top: 8px;
		right: 10px;
		color: $black;
		cursor: pointer;
		&:hover {
			color: $black-h;
		}
	} 
}

/**********************************************/
/* Tooltip
/**********************************************/

.tipsy {
	position: absolute;
	font-style: 12px;
	padding: 5px; 
	z-index: 9999;
	.tipsy-inner {
		background: #000;
		color: #FFF; 
		max-width: 200px; 
		padding: 5px 8px 4px 8px; 
		text-align: center;
		@include border-radius(3px);
	}
	.tipsy-arrow {
		position: absolute; 
		width: 0; 
		height: 0; 
		line-height: 0; 
		border: 5px dashed #000;
	}
	.tipsy-arrow-n {border-bottom-color: #000;}
	.tipsy-arrow-s {border-top-color: #000;}
	.tipsy-arrow-e {border-left-color: #000;}
	.tipsy-arrow-w {border-right-color: #000;}
}
.tipsy-n .tipsy-arrow 	{top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-nw .tipsy-arrow 	{top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent}
.tipsy-ne .tipsy-arrow 	{top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent}
.tipsy-s .tipsy-arrow 	{bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-sw .tipsy-arrow 	{bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-se .tipsy-arrow 	{bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-e .tipsy-arrow 	{right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent;}
.tipsy-w .tipsy-arrow 	{left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent;}

/**********************************************/
/* Pagination
/**********************************************/
.pagination {
	width: 100%; 
	ul {
		display: inline-block;
		background: $white;
		width: auto;
		@include border-radius(5px);
		&.right {
			float: right;
		}
		&.left {
			float: left;
		}
		li {
			display: inline-block;
				margin: 0 2px;
			a {
				display: block;
				border: 4px solid $white;
				color: #fff;
				background: #fff;
				padding: 1px 6px;
				text-align: center;
				font-weight: bold;
				@include border-radius(100%);
				@include transition (background 0.2s ease-in, border-color .1s ease-in, color 0.2s ease-in);
				&:hover {
					border-color: $green;
					background: $green;
				}
				&.current {
					color: $white;
				}
			}
			&.previous, &.next {
					margin: 0;
				a {
					color: #fff;
					padding: 12px 17px;
					background: $white;
					border: none;
					&:hover {
						background: $green;
					}
				}
			}
			&.previous {
				a {
					border-right: 1px solid #fff;
					@include border-radius(5px 0 0 5px);
				}
			}
			&.next {
				a {
					border-left: 1px solid #fff;
					@include border-radius(0 5px 5px 0);
				}
			}
		}
	}
}

/**********************************************/
/* Progressbar
/**********************************************/

.progressbar {
	height: 10px;
	padding: 5px;
	position: relative;
	background: $white;
	@include border-radius(20px);
	@include box-sizing(content-box);
	> span { 
			position: relative;
			display: block;
			overflow: hidden;
			height: 100%;
			@include border-radius(20px 8px 8px 20px);
			@include box-shadow(inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4));
	}
	/* Colors */
	&.black > span {
		@include background-image(linear-gradient(left top, $black, $black-h));
	}
	&.blue > span {
		@include background-image(linear-gradient(left top, $blue, $blue-h));
	}
	&.gray > span {
		@include background-image(linear-gradient(left top, $gray, $gray-h));
	}
	&.green > span {
		@include background-image(linear-gradient(left top, $green, $green-h));
	}
	&.yellow > span {
		@include background-image(linear-gradient(left top, $yellow, $yellow-h));
	}
	&.orange > span {
		@include background-image(linear-gradient(left top, $orange, $orange-h));
	}
	&.pink > span {
		@include background-image(linear-gradient(left top, $pink, $pink-h));
	}
	&.purple > span {
		@include background-image(linear-gradient(left top, $purple, $purple-h));
	}
	&.red > span {
		@include background-image(linear-gradient(left top, $red, $red-h));
	}
	/* Sizes */
	&.medium {
		height: 15px;
		padding: 8px;
	}
	&.large {
		height: 20px;
		padding: 12px;
		@include border-radius(25px);
	}

} 
.progressbar > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
	overflow: hidden;
	background-image:-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
	background-image:-moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	z-index: 1;
	@include border-radius(20px 8px 8px 20px);
	@include background-size(50px 50px);
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
}
.animate > span:after {
	display: none;
}
@-webkit-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}
.nostripes > span > span, 
.nostripes > span:after {
	-webkit-animation: none;
	background-image: none;
}		

/**********************************************/
/* Tables
/**********************************************/

table {
	margin: 10px 0;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	td {
		padding: 10px;
		background: $white;
		color: $gray-h;
		border-bottom: 1px solid #fff;
		@include transition(all 0.2s ease-in);
	}
	tr:nth-child(odd) td {
		background: $white-h;
	}
	tr:hover td {
		background: $blue;
		color: $white;
	}
	thead {
		td {
			background: $blue-h!important;
			color: $white;
			&:first-child {
				@include border-radius(5px 0 0 0);
			}
			&:last-child {
				@include border-radius(0 5px 0 0);
			}
		}
	}
	tfoot {
		td {
			background: $blue!important;
			color: $white;
			&:first-child {
				@include border-radius(0 0 0 5px);
			}
			&:last-child {
				@include border-radius(0 0 5px 0);
			}
		}
	}
} 
 

table {
	margin: 0;
	padding: 0;
	border: none;
	tr { 
		td { 
		}
	}
	thead {
		th {
			td {

			}
		}
	}
	tbody {
		th {
			td {
				
			}
		}

	}
	tfoot {
		th {
			td {
				
			}
		}

	}
}

/**********************************************/
/* Responsive Slider
/**********************************************/

ul.slider {
	position: relative;
	list-style: none;
	overflow: hidden; 
	padding: 0;
	margin: 10px;
	li {
		-webkit-backface-visibility: hidden;
		position: absolute;
		overflow: hidden;
		display: none;
		width: 100%;
		left: 0;
		top: 0;
		&:first-child {
			position: relative;
			display: block;
			float: left;
		}
	}
	img {
		display: block;
		height: auto;
		float: left;
		width: 100%;
		border: 0;
	}
	p.caption {
		position: absolute;
		bottom: 0;
		left: 0;
		background: #000;
		color: #fff;
		font-size: 15px;
		padding: 15px 0;
		text-indent: 20px;
		width: 100%;
	}
}
ul.rslides_tabs {
	clear: both;
	padding-left: 10px;
	li {
		display: block;
		float: left;
		margin-right: 1px;
		a {
			display: block; 
			padding: 8px;
			background: #ccc;
			color: #fff;
		}
		&.rslides_here a {
			background: #000;
		}
	}
}
.callbacks_container a {
	&.prev {
		margin-left: 10px;
		margin-right: 1px;
	}
	&.prev, &.next {
		padding: 10px;
		background: #ccc;
		color: #fff;
		&:hover {
			background: #000;
		}
	}
}

/**********************************************/
/* Scroll Bar
/**********************************************/
@import url("custom-scrollbar.css");




/**********************************************/
/* Global
/**********************************************/
.hide {
	position: relative;
	top: 0;
	left: 0;
	display: none;
}
.clear, br {
	clear: both;
}