/*** ESSENTIAL STYLES ***/
/* line 8, superfish.scss */
.sf-menu, .sf-menu * {
  list-style: none;
}

/* line 11, superfish.scss */
.sf-menu {
  float: left;
  margin-bottom: 1em;
}
/* line 14, superfish.scss */
.sf-menu ul {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  min-width: 12em;
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}
/* line 22, superfish.scss */
.sf-menu ul li {
  background: #AABDE6;
}
/* line 25, superfish.scss */
.sf-menu ul ul {
  top: 0;
  left: 100%;
}
/* line 30, superfish.scss */
.sf-menu li {
  position: relative;
  background: #BDD2FF;
  white-space: nowrap;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
/* line 36, superfish.scss */
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
  display: block;
  background: #ff0088;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 42, superfish.scss */
.sf-menu > li {
  float: left;
}
/* line 45, superfish.scss */
.sf-menu a {
  display: block;
  position: relative;
  color: #13a;
  border-left: 1px solid #fff;
  border-top: 1px solid #dFeEFF;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: .75em 1em;
  text-decoration: none;
}

/* line 56, superfish.scss */
.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
}
/* line 58, superfish.scss */
.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #dFeEFF;
  border-top-color: #fff;
}

/* line 71, superfish.scss */
.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dFeEFF;
  border-left-color: #fff;
}

/* Vertical */
/* line 79, superfish.scss */
.sf-vertical {
  width: 12em;
}
/* line 81, superfish.scss */
.sf-vertical ul {
  left: 100%;
  top: 0;
}
/* line 85, superfish.scss */
.sf-vertical li {
  width: 100%;
}
/* line 88, superfish.scss */
.sf-vertical > li {
  float: none;
}

/* line 92, superfish.scss */
.sf-vertical li {
  width: 100%;
}

/* line 95, superfish.scss */
.sf-vertical.sf-arrows > li > .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dFeEFF;
  border-left-color: rgba(255, 255, 255, 0.5);
}

/* Navbar */
/* line 103, superfish.scss */
.sf-navbar {
  background: #BDD2FF;
  position: relative;
  margin-bottom: 5em;
}
/* line 107, superfish.scss */
.sf-navbar ul {
  box-shadow: none;
}
/* line 109, superfish.scss */
.sf-navbar ul li {
  background: #BDD2FF;
  position: relative;
}
/* line 114, superfish.scss */
.sf-navbar ul li:hover, .sf-navbar ul li.sfHover,
.sf-navbar ul li ul li {
  background: #D1DFFF;
}
/* line 118, superfish.scss */
.sf-navbar ul ul {
  left: 0;
  top: 100%;
}
/* line 121, superfish.scss */
.sf-navbar ul ul li {
  width: 100%;
}
/* line 125, superfish.scss */
.sf-navbar ul ul li:hover, .sf-navbar ul ul li.sfHover, .sf-navbar ul ul li.current {
  background: #ff0088;
}
/* line 131, superfish.scss */
.sf-navbar li {
  background: #AABDE6;
  position: static;
}
/* line 134, superfish.scss */
.sf-navbar li.current {
  background: #BDD2FF;
}
/* line 138, superfish.scss */
.sf-navbar li:hover, .sf-navbar li.sfHover {
  background: #BDD2FF;
}
/* line 143, superfish.scss */
.sf-navbar > li > a,
.sf-navbar > li > ul > li > a {
  border: none;
}
/* line 146, superfish.scss */
.sf-navbar > li > ul > li {
  float: left;
}

/* line 150, superfish.scss */
.sf-arrows.sf-navbar ul .sf-with-ul:after {
  margin-top: -3px;
  margin-right: 0;
  border-color: transparent;
  border-top-color: #dFeEFF;
  border-top-color: #fff;
}
