@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/transform";

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	list-style: none;
}
.sf-menu {
	float: left;
	margin-bottom: 1em;
	ul {
		box-shadow: 2px 2px 6px rgba(0,0,0,.2);
		min-width: 12em;
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		z-index: 99;
		li {
			background: #AABDE6;
		}
		ul {
			top: 0;
			left: 100%;
		}
	}
	li {
		position: relative;
		background: #BDD2FF;
		white-space: nowrap;
		@include transition(all 0.15s ease-in);
		&:hover > ul,
		&.sfHover > ul {
			display: block;
			background: #ff0088;
			@include transition(none);
		}
	}
	> li {
		float: left;
	}
	a {
		display: block;
		position: relative;
		color: #13a;
		border-left: 1px solid #fff;
		border-top: 1px solid #dFeEFF;
		border-top: 1px solid rgba(255,255,255,.5);
		padding: .75em 1em;
		text-decoration: none;
	}
}
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 1em;
		margin-top: -3px;
		height: 0;
		width: 0;
		border: 5px solid transparent;
		border-top-color: #dFeEFF;
		border-top-color: #fff;
	}
}
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF;
	border-left-color: #fff;
}
/* Vertical */
.sf-vertical {
  width: 12em;
	ul {
		left: 100%;
		top: 0;
	}
	li {
		width: 100%;
	}
	> li {
	  float: none;
	}
} 
.sf-vertical li {
  width: 100%;
}
.sf-vertical.sf-arrows > li > .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dFeEFF;
  border-left-color: rgba(255,255,255,.5);
}
/* Navbar */
.sf-navbar {
	background: #BDD2FF;
	position: relative;
	margin-bottom: 5em;
	ul {
		box-shadow: none;
		li {
			background: #BDD2FF;
			position: relative;
			&:hover,
			&.sfHover,
			ul li {
				background: #D1DFFF;
			}
		}
		ul {
			left: 0;
			top: 100%;
			li {
				width: 100%;
				&:hover,
				&.sfHover,
				&.current {
					background: #ff0088;
				}
			}
		}
	}
	li {
		background: #AABDE6;
		position: static;
		&.current {
			background: #BDD2FF;
		}
		&:hover,
		&.sfHover {
			background: #BDD2FF;
		}
	}
	> li > a,
	> li > ul > li > a {
		border: none;
	}
	> li > ul > li {
		float: left;
	}
} 
.sf-arrows.sf-navbar ul .sf-with-ul:after {
	margin-top: -3px;
	margin-right: 0;
	border-color: transparent;
	border-top-color: #dFeEFF;
	border-top-color: #fff;
}
