/******************/
/* Accordion
/******************/
.accordion {
	width: 500px;
	margin: 0;
	background: #eeeeee;
	h3 {
		display: block;
		position: relative;
		margin: 0;
		font-size: 18px;
		color: #fff;
		padding: 20px 0;
		text-indent: 15px;
		background: $red;
		border-bottom: 1px solid $red-h;
		cursor: pointer;
		@include transition(all 0.25s ease-in);
		/*
		//Rounded Corners
		&:first-child, &.first {
			@include border-radius(5px 5px 0 0);
		}
		&:last-child, &.last {
			@include border-radius(0 0 5px 5px);
			&.current {
				@include border-radius(0);
			}
		}
		*/
		&:hover, &.hover {
			background: $red-h;
		}
		&.current {
			background: $white-h!important;
			border-color: $white-h!important;
			i  {
				@include transform(rotate(90deg));
			}
		}
		i {
			position: absolute;
			text-indent: 0;
			top: 21px; 
			right: 20px;
			@include transition(all 0.15s ease-in);
		}
	}
	.accordion-content { 
		clear: both;
		height: auto;
		padding: 10px 15px; 
		/*
		//Rounded Corners
		&:last-child, &.last {
			@include border-radius(0 0 5px 5px);
			border: 1px solid $gray;
		}
		*/
	}

	&.vertical {
		overflow: hidden;
		h3 {
			float: left;
			width: 70px;
			height: 350px;
			border-bottom: 0;
			border-right: 1px solid $red-h;
			span {
				display: inline-block;
				width: 300px;
				position: absolute;
				bottom: 15px;
				left: 45px;
				@include transform(rotate(-90deg));
				@include transform-origin(bottom, left);
			}
		}
		.accordion-content {
			clear: none;
			width: 290px;
			height: 350px;
			line-height: 350px;
			float: left; 
		}
	}
}

/* Not Required, Only to Demo */
.accordion {
	.accordion-content {
		height: 165px;
		text-align: center;
		color: #fff;
		line-height: 160px;
		font-size: 4em; 
	}
}

