/* BUTTONS */

.btn {
	display: inline-block;
	float: none;
	@include font-size(1.8);
	cursor: pointer;
	background-color: $silver;
	color: #fff!important;
	border: none;
	padding: 15px 40px;
	margin: 0 19px 19px 0!important;
	text-indent: 0;
	@include transition(all 0.2s ease-in);
	&:hover {
		//background-color: darken($background-color, 20%);
	}	
	&:active {
		@include box-shadow( 0 2px 1px rgba(0,0,0,.5) inset);
	}
}

// Disabled
.btn-disabled {
	cursor: not-allowed;
	&:hover {
		color: inherit;
	}
}

// Rounded
.btn-rounded 	{@include border-radius(3px);}

// Sizes
.btn-xsmall 	{padding: 7px 40px;  @include font-size(1);}
.btn-small 		{padding: 10px 40px; @include font-size(1.4);}
.btn-large 		{padding: 20px 40px; @include font-size(2);}
.btn-xlarge 	{padding: 25px 47px; @include font-size(2.5);}

// Colors
.btn-black 		{background-color: $black; 	border-color: darken($black, 20%);}
.btn-blue 		{background-color: $blue; 	border-color: darken($blue, 20%);}
.btn-gray 		{background-color: $gray; 	border-color: darken($gray, 20%);}
.btn-green 		{background-color: $green; 	border-color: darken($green, 20%);}
.btn-yellow 	{background-color: $yellow; border-color: darken($yellow, 20%);}
.btn-orange 	{background-color: $orange; border-color: darken($orange, 20%);}
.btn-pink 		{background-color: $pink; 	border-color: darken($pink, 20%);}
.btn-purple 	{background-color: $purple; border-color: darken($purple, 20%);}
.btn-red 		{background-color: $red; 	border-color: darken($red, 20%);}
.btn-white 		{background-color: $white; 	border-color: darken($white, 20%);}

// Transforms
.btn-upper		{text-transform: uppercase;}
.btn-lower 		{text-transform: lowercase;}
.btn-cap		{text-transform: capitalize;}

// Styles
.btn-bold 		{font-weight: bold!important;}
.btn-italic 	{font-style: italic!important;}
.btn-under 		{text-decoration: underline!important;}
.btn-strike 	{text-decoration: line-through!important;}

// Align
.btn-right 		{float: right;}
.btn-left 		{float: left;}