// Dropdown

.menu {
	float: left;
	background: $silver;
	/* Default is Horizontal */
	li { 
		position: relative;
		white-space: nowrap;
		@include transition(all 0.15s ease-in);
		a {
			@include font-size(1.8);
			padding: 25px 20px;
			display: block;
			position: relative;
			color: $gray;
		}
	}
	// First Level
	> li {
		float: left;
		&:hover, &.hover {  
			background: $orange;
			a {
				display: block;
				color: #fff;
			}
		}
		// Second Level
		ul {
			position: absolute;
			display: none;
			top: 100%;
			left: 0;
			z-index: 99;
			background: $orange; 
			> li {
				&:hover, &.hover {
					background: $red; 
				}
				a {
					@include font-size(1.6);
					padding: 15px 20px;
				}
			}
			// Third Level
			ul {
				top: 0;
				left: 100%;
				background: $red; 
				> li {
					&:hover, &.hover {
						background: darken($red, 10%); 
					}
				}
			}
		}
	}

	// Vertical
	&.vertical {
		ul {
			left: 100%;
			top: 0;
		}
		li {
			width: 100%;
		}
		> li {
		  float: none;
		}
	}

	// Navbar
	&.navbar {
		position: relative;
		ul {
			li { 
				position: relative;
			}
			ul {
				left: 0;
				top: 100%;
				li {
					width: 100%;
					float: left;
				}
			}
		}
		li { 
			position: static;
		}
		> li > ul > li {
			float: left;
		}
	}


	// Arrows 
	&.arrows {
		a.dropdown {
			padding-right: 40px;
			&:after {
				font-family: 'Fontello';
				@include font-size(1.4);
				content: '\e83c';
				position: absolute;
				top: 50%;
				right: 13px;
				margin-top: -8px;
			}
		}
		ul {
			a.dropdown {
				&:after { 
					content: '\e83a';
				}
			}
		}
		&.vertical {
			a.dropdown {
				&:after { 
					content: '\e83a';
				}
			}
		}
		&.navbar {
			a.dropdown {
				&:after { 
					content: '\e83c';
				}
			}
		}
	}
}
