/******************/
/* Inputs, Textareas & Labels
/******************/
input, label, textarea {
	color: $white-h;
	float: left;
	outline: none;
	font-size: 1.4em;
	font-weight: normal!important;
}
textarea {
	float: none!important;
}
label {
	color: $gray-h;
	margin: 0 5px 0 0;
	padding: 1px 5px 2px;
	cursor: pointer;
	&.to-inputs, &.to-textareas {
		font-size: 16px;
		padding: 10px 0;
	}
	&.on-the-top {
		float: none;
		clear: both;
		display: table;
	}
	&.hover {
		color: #535d5e;
	}
}
input, textarea {
	border: 2px solid $white-h;
	padding: 11px;
	@include transition(all 0.35s ease-in);
	/* Rounded */
	&.rounded {
		@include border-radius(5px);
	}
	/* States */
	&:hover {
		color: $gray-h;
		border-color: $gray-h;
	}
	&:focus {
		color: #5a5f63;
		border-color: #5a5f63;
	}
	&.input-disabled, 
	&.textarea-disabled, 
	&.select-disabled {
		background: #f4f6f6;
		border-color: #d5dbdb!important;
		color: #d5dbdb!important;
		cursor: not-allowed;
	}
	/* Colors */
	&.focus-black:focus {
		color: $black;
		border-color: $black;
	}
	&.focus-blue:focus {
		color: $blue;
		border-color: $blue;
	}
	&.focus-gray:focus {
		color: $gray;
		border-color: $gray;
	}
	&.focus-green:focus {
		color: $green;
		border-color: $green;
	}
	&.focus-yellow:focus {
		color: $yellow;
		border-color: $yellow;
	}
	&.focus-orange:focus {
		color: $orange;
		border-color: $orange;
	}
	&.focus-pink:focus {
		color: $pink;
		border-color: $pink;
	}
	&.focus-purple:focus {
		color: $purple;
		border-color: $purple;
	}
	&.focus-red:focus {
		color: $red;
		border-color: $red;
	}
}

/* Input Sizes */
input {
	text-indent: 5px;
	margin: 0 3px 3px 0!important;
	&.input-small {
		width: 220px;
	}
	&.input-medium {
		width: 270px;
	}
	&.input-large {
		width: 320px;
	}
}

/* Input with Icons */
.input-icon {
	position: relative;
	float: left;
	input {
		float: none;
		padding-right: 32px!important;
	}
	i {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 11px;
		right: 10px;
		line-height: 18px;
		color: #fff;
		text-align: center;
		background: #000;
		font-size: 15px;
		@include border-radius(100%);
	}
	/* Actions */
	&.input-error {
		input {
			border-color: $red;
			color: $red;
		}
		i {
			background: $red;
		}
	}
	&.input-sucess {
		input {
			border-color: $green;
			color: $green;
		}
		i {
			background: $green;
		}
	}
}

/* Input Increment */
.input-increment {
	display: inline-block;
	position: relative; 
	input {
		width: 70px;
	}
	&.input-medium {
		input {
			width: 90px;
		}
	}
	&.input-large {
		input {
			width: 110px;
		}
	}
	span.background {
		width: 18px;
		height: 39px;
		position: absolute;
		top: 2px;
		right: 5px;
		background: $white-h;
		z-index: 10;
		@include border-radius(0 2px 2px 0);
		@include transition(all 0.35s ease-in);
	}
	i {  
		display: block; 
		color: #fff; 
		font-size: 1.6em;
		font-style: normal;
		cursor: pointer;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		position: absolute;
		right: 5px;
		z-index: 20; 
		&.icon-up-dir { 
			top: 3px;
		} 
		&.icon-down-dir {
			bottom: 7px; 
		}
		&:hover {
			color: $black;
		} 
	} 
	&.hover {
		input {
			//5a5f63
			border-color: $gray-h;
		}
		span.background {
			background: $gray-h;
		}
	} 
}