/******************/
/* Scrollbars
/******************/

.mCSB_container { 
	width: auto;
	margin-right: 30px;
	overflow: hidden;
}
.mCSB_container.mCS_no_scrollbar {
	margin-right: 0;
}
.mCS_disabled > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar {
	margin-right: 30px;
}
.mCustomScrollBox > .mCSB_scrollTools {
	width: 16px;
	height: 100%;
	top: 0;
	right: 0;
}
.mCSB_scrollTools .mCSB_draggerContainer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0; 
	height: auto;
}
.mCSB_scrollTools a + .mCSB_draggerContainer {
	margin: 20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
	width: 2px;
	height: 100%;
	margin: 0 auto; 
}
.mCSB_scrollTools .mCSB_dragger {
	cursor: pointer;
	width: 100%;
	height: 30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 6px;
	height: 100%;
	margin: 0 auto; 
	text-align: center;
	@include border-radius(10px);
}

/******************/
/* Horizontal
/******************/

.mCSB_horizontal > .mCSB_container {
	height: auto;
	margin-right: 0;
	margin-bottom: 30px;
	overflow: hidden;
}
.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar{
	margin-bottom: 0;
}
.mCS_disabled > .mCSB_horizontal > .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed > .mCSB_horizontal > .mCSB_container.mCS_no_scrollbar{
	margin-right: 0;
	margin-bottom: 30px;
}
.mCSB_horizontal.mCustomScrollBox > .mCSB_scrollTools {
	width: 100%;
	height: 16px;
	top: auto;
	right: auto;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.mCSB_horizontal > .mCSB_scrollTools a + .mCSB_draggerContainer{
	margin: 0 20px;
}
.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
	width: 100%;
	height: 2px;
	margin: 10px 0;
}
.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger {
	width: 30px;
	height: 100%;
}
.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width: 100%;
	height: 6px;
	margin: 8px auto; 
}
.mCustomScrollBox {
	-ms-touch-action:none; 
}

/******************/
/* Skin
/******************/

.mCustomScrollBox > .mCSB_scrollTools {
	/* Dragger Rail */
	.mCSB_draggerRail {
		background: #701197;
	}
	/* Dragger Bar */
	.mCSB_dragger  {
		.mCSB_dragger_bar {
			background: #c697d9;
		}
		&:hover, &:active, &.mCSB_dragger_onDrag {
			.mCSB_dragger_bar { 
				background: #fff;
			}
		}
	}
}   

/******************/
/* Buttons
/******************/

.mCSB_scrollTools a {
	display: block;
	position: relative; 
	overflow: hidden;
	top: 5px;
	left: 2px;
	font-size: 11px;
	margin: 0 auto;
	cursor: pointer;
	text-align: center;
	color: #701197;
	float: left;
	&.mCSB_buttonDown {
		top: 100%;
		margin-top: -33px;
	}
	&.mCSB_buttonRight {
		margin-right: 8px;
		float: right;
	}
	&:hover {
		color: #fff;
	}
}

/* Only to Demo */
.scrolled {
	width: 339px;
	height: 520px; 
	margin-right: 40px; 
	padding: 20px; 
	overflow: auto; 
	background: $purple;
	float: left; 
	p {
		font-size: 1.4em;
		margin-bottom: 15px;
	}
	h2, p {
		color: #fff;
	}
}
#scrollbar-3.scrolled {
	margin: 0!important;
}
