.customSelect {
	width: 250px;
	background-color: $purple;
	color: $white;
	padding: 10px 15px;
	@include font-size(1);
	&.changed {
	}
}
.customSelectInner {
	width: 100%!important;
	background: image-url('select-arrow.png') no-repeat center right;
}
.customSelectHover{
	background-color: darken($purple, 10%);
}
.customSelectFocus {
}
.customSelectOpen {
}