table {
	width: 100%;
	margin: 20px auto;
	text-align: center;
	border-collapse: collapse;
	font-size: 18px;
	color: #848484;
	@include box-sizing(border-box);
	td {
		padding: 15px 0;
		border-bottom: 2px solid #ebf0f1;
		@include transition(all 0.15s ease-in);
		/* Indent Namea */
		&:nth-child(2) {
			text-align: left;
			text-indent: 20px;
		}
	}
	thead {
		background: #fff;
		tr {
			td {
				font-weight: bold;
			}
		}
	}
	tbody {
		tr:nth-child(odd) td {
			background: #f8f9fb;
		}
		tr:hover td {
			background: $green;
			color: #fff;
		}
	}
	tfoot {
		tr {
			td {
				background: #efeff1;
				color: #fff;
			}
		}
	}
	/* Outline */
	&.outline {
		td { 
			border: 2px solid #ebf0f1;
		}
		tbody {
			tr:hover td {
				border-color: $green;
			}
		}
	}
}