table {
	margin: 10px 0;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	font-size: 1.4em;
	color: #fff!important;
	td {
		padding: 10px;
		background: $white;
		color: $gray-h;
		border-bottom: 1px solid #fff;
		@include transition(all 0.2s ease-in);
	}
	tr:nth-child(odd) td {
		background: $white-h;
	}
	tr:hover td {
		background: $blue;
		color: $white;
	}
	thead {
		td {
			background: $blue-h!important;
			color: $white;
			&:first-child {
				@include border-radius(5px 0 0 0);
			}
			&:last-child {
				@include border-radius(0 5px 0 0);
			}
		}
	}
	tfoot {
		td {
			background: $blue!important;
			color: $white;
			&:first-child {
				@include border-radius(0 0 0 5px);
			}
			&:last-child {
				@include border-radius(0 0 5px 0);
			}
		}
	}
}