/******************/
/* Video Player
/******************/
@font-face{
    font-family: 'VideoJS';
    src: font-url('vjs.eot');
    src: font-url('vjs.eot?#iefix') format('embedded-opentype'),
         font-url('vjs.woff') format('woff'),
         font-url('vjs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.video-js { 
    position: relative;
    padding: 0;
    margin: 0;
    color: #fff;
    @include font-size(1.8);
    /* Not Used Files */
    .vjs-hidden,
    .vjs-chapters-button,
    .vjs-volume-control,
    .vjs-time-divider {
        display: none;
    }
    .vjs-tech {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /* Hiden Button Text's */
    .vjs-control-text { 
        border: 0; 
        clip: rect(0 0 0 0); 
        height: 1px; 
        margin: -1px; 
        overflow: hidden; 
        padding: 0; 
        position: absolute; 
        width: 1px;
    }
    /* Fullscreen */
    &.vjs-fullscreen {
        position: fixed;
        overflow: hidden;
        z-index: 1000;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%!important;
        height: 100%!important;
    }
    .vjs-fullscreen-control {
        right: 65px;
    }
    .vjs-full-window {
        padding: 0;
        margin: 0;
        height: 100%;
        overflow-y: auto;
    }
    /* Poster */
    .vjs-poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include border-radius(5px);
        img {
            @include border-radius(5px);
        }
    }
    /* Big Play Button */
    .vjs-big-play-button {
        display: block;
        z-index: 2;
        position: absolute;
        font-size: 25px;
        top: 20px;
        left: 20px;
        padding: 10px 20px 12px 23px; 
        cursor: pointer;
        background: $orange;
        &:hover {
            background: darken($orange, 15%);
        } 
    }
    /* Loading  */
    .vjs-loading-spinner {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        @include font-size(5);
        line-height: 1;
        width: 1em;
        height: 1em;
        margin-left: -0.5em;
        margin-top: -0.5em;
        opacity: 0.75;
    }
    /* Controls */ 
    .vjs-control {
        outline: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        @include font-size(1.8);
        position: absolute;
        top: 3px;
        height: 45px;
        &:before { 
            line-height: 2;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        &:hover:before {
            color: darken($orange, 15%);
        }
    }
    /* Control Bar */
    .vjs-control-bar {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        background: $orange;
        border-top: 3px solid darken($orange, 15%);
    }
    /* Play & Pause */
    .vjs-play-control {
        width: 65px;
        height: 45px;
    }
    /* Time Display */
    .vjs-current-time {
        top: 11px;
        left: 70px;
    }
    .vjs-duration { 
        top: 11px;
        right: 110px;
    } 
    .vjs-remaining-time { 
        display: none; 
        float: left; 
    }
    /* Progress */
    .progress {
        display: block;
        width: 500px - 280px;
        height: 6px; 
        background: #ffdb94;
        position: absolute;
        top: 18px;
        left: 120px;
    }
    .vjs-progress-holder { 
      height: 100%;
    }
    .vjs-play-progress, .vjs-load-progress {
        position: absolute;
        display: block;
        height: 100%;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
    }
    .vjs-play-progress {
        background: darken($orange, 15%);
    }
    .vjs-load-progress {
        background: #fff;
    }
    .vjs-slider-handle {
        position: absolute;
        right: 3px;
        top: -4px;
        width: 15px;
        height: 15px;
        background: darken($orange, 15%);
        @include border-radius(100%);
    }
    /* Volume */
    .vjs-mute-control {
        position: absolute;
        top: 3px;
        right: 95px;
        @include font-size(1.8);
        font-family: "Fontello"!important;
        &:before {
            content: "\e838";
        }
        &.vjs-vol-0:before {
            content: "\e836";
        }
        &.vjs-vol-1:before,
        &.vjs-vol-2:before {
            content: "\e837";
        }
        &.vjs-vol-3:before {
            content: "\e838";
        } 
    }
    /* Caption's */
    .vjs-captions-button {
        position: absolute;
        top: 3px;
        right: 35px;
        @include font-size(1.8);
    }
    .vjs-menu {
        display: none;
        position: absolute;
        bottom: 5px;
        right: -80px;
        width: 150px;
        background: darken($orange, 15%);
        &:after {
            position: absolute;
            bottom: -8px;
            left: 50%;
            margin-left: -4px;
            content: "";
            width: 0; 
            height: 0; 
            border-left: 8px solid transparent;
            border-right: 8px solid transparent; 
            border-top: 8px solid darken($orange, 15%);
        }
        ul {
            display: block; 
            li {
                list-style: none;
                margin: 0;
                outline: 0!important;
                padding: 10px 0; 
                @include font-size(1.5);
                font-weight: normal;
                text-align: center;
                text-transform: capitalize;
                cursor: pointer;
                &:hover, &:focus {
                    background: $orange;
                }
                &.vjs-selected {
                    background: #fff;
                    color: darken($orange, 15%);
                }
            } 
        }
    }
}
 
/* Fix for Firefox 9 fullscreen (only if it is enabled). Not needed when checking fullScreenEnabled. */
.video-js:-moz-full-screen {
    position: absolute; 
}
.video-js:-webkit-full-screen {
    width: 100%!important;
    height: 100%!important;
}




.vjs-tt-cue {
    display: block;
}

/* Fading Sytles */
.vjs-fade-in {
    display: block !important;
    visibility: visible;
    opacity: 1;
    @include transition(visibility 0.1s, opacity 0.1s);
}
.vjs-fade-out {
    display: block !important;
    visibility: hidden;
    opacity: 0;
    @include transition(visibility 1.5s, opacity 1.5s);
    @include transition-delay(2s); 
}
.vjs-lock-showing {
    display: block !important;
    opacity: 1;
    visibility: visible;
} 